{namespace eqhm=Artif\ArtifEqhm\ViewHelpers}
<label for="name">
    <f:translate key="tx_artifeqhm_domain_model_document.name"/>
</label>
<f:form.textfield property="name"/>
<br/><br/>
<label>
    <f:translate key="tx_artifeqhm_domain_model_documentfile.upload"/>
</label>
<eqhm:upload property="documentFiles.0.file" id="upload-file">
    <f:if condition="{resource}">
        <f:image image="{resource}" alt="" width="100"/>
        <br/>
    </f:if>
</eqhm:upload>
<br/>
<f:if condition="{category}">
    <f:form.hidden property="categories.0" value="{category}" />
</f:if>
<br/>