<label for="name">
    <f:translate key="tx_artifeqhm_domain_model_document.name"/>
</label>
<f:form.textfield property="name"/>

<br/><br/>
<f:if condition="{documentFile.additionalContent}">

    <label for="documentFile.additionalContent">
        <f:translate key="tx_artifeqhm_domain_model_documentfile.additional_content"/>
    </label>
    <f:form.textarea
            id="documentFile.additionalContent"
            class="readonly"
            name="documentFile[additionalContent]"
            value="{documentFile.additionalContent -> f:format.html(parseFuncTSPath: 'lib.parseFunc')}"
            additionalAttributes="{readonly: 'readonly'}"
    />
    <br/><br/>
</f:if>

<label for="documentFile">
    <f:translate key="tx_artifeqhm_domain_model_documentfile.content"/>
</label>
<f:form.textarea class="editable" name="documentFile[content]" value="{documentFile.content}"/><br/>