.content-area {
  text-align: center;
  font-family: Calibri, sans-serif; }
  .content-area .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
    text-decoration: underline; }
  .content-area .content {
    display: table;
    text-align: center;
    width: 100%;
    margin-bottom: 30px; }
    .content-area .content .row {
      margin: 0 auto;
      display: table; }
      .content-area .content .row .box {
        width: 50%;
        float: left;
        display: table-cell; }
        .content-area .content .row .box .name {
          padding-bottom: 20px; }
        .content-area .content .row .box .signature {
          padding-bottom: 20px; }
    .content-area .content .date {
      text-decoration: underline; }

.page-break {
  page-break-before: always; }

.organigramm {
  display: table;
  margin: 0 auto;
  width: 1020px;
  font-family: Calibri, sans-serif;
  font-size: 13px; }
  .organigramm .container {
    display: table;
    margin: 0 auto; }
    .organigramm .container .row {
      width: 100%;
      float: none;
      display: table;
      margin-left: -10px;
      margin-right: -10px; }
      .organigramm .container .row .box {
        min-height: 20px;
        float: left;
        padding: 10px;
        margin: 10px;
        word-wrap: break-word; }
        .organigramm .container .row .box.h250 {
          height: 250px; }
        .organigramm .container .row .box.h200 {
          height: 200px; }
        .organigramm .container .row .box.h150 {
          height: 150px; }
        .organigramm .container .row .box.h100 {
          height: 100px; }
        .organigramm .container .row .box.h70 {
          height: 70px; }
        .organigramm .container .row .box.h50 {
          height: 50px; }
        .organigramm .container .row .box.w10 {
          width: 10%; }
        .organigramm .container .row .box.w11 {
          width: 11%; }
        .organigramm .container .row .box.w12 {
          width: 12%; }
        .organigramm .container .row .box.w15 {
          width: 15%; }
        .organigramm .container .row .box.w20 {
          width: 20%; }
        .organigramm .container .row .box.w25 {
          width: 25%; }
        .organigramm .container .row .box.w30 {
          width: 30%; }
        .organigramm .container .row .box.w33 {
          width: 33%; }
        .organigramm .container .row .box.w47 {
          width: 47%; }
        .organigramm .container .row .box.text-center {
          text-align: center; }
        .organigramm .container .row .box.border {
          border: solid 1px #000000; }
        .organigramm .container .row .box .doc-name {
          font-size: 24px; }
        .organigramm .container .row .box .header {
          font-size: 18px;
          font-weight: 700; }

.QMHandbuch {
  display: table;
  margin: 0 auto;
  width: 1020px;
  font-family: Calibri, sans-serif;
  font-size: 15px;
  font-weight: 400; }
  .QMHandbuch .container .row {
    width: 100%;
    float: none;
    display: table;
    margin-left: -15px;
    margin-right: -15px; }
    .QMHandbuch .container .row .box {
      min-height: 20px;
      float: left;
      padding: 15px;
      word-wrap: break-word; }
      .QMHandbuch .container .row .box .doc-name {
        font-size: 36px; }
      .QMHandbuch .container .row .box .practice-name {
        font-size: 30px; }
      .QMHandbuch .container .row .box.h250 {
        height: 250px; }
      .QMHandbuch .container .row .box.h200 {
        height: 200px; }
      .QMHandbuch .container .row .box.h150 {
        height: 150px; }
      .QMHandbuch .container .row .box.h100 {
        height: 100px; }
      .QMHandbuch .container .row .box.h70 {
        height: 70px; }
      .QMHandbuch .container .row .box.h50 {
        height: 50px; }
      .QMHandbuch .container .row .box.w10 {
        width: 10%; }
      .QMHandbuch .container .row .box.w11 {
        width: 11%; }
      .QMHandbuch .container .row .box.w12 {
        width: 12%; }
      .QMHandbuch .container .row .box.w15 {
        width: 15%; }
      .QMHandbuch .container .row .box.w20 {
        width: 20%; }
      .QMHandbuch .container .row .box.w25 {
        width: 25%; }
      .QMHandbuch .container .row .box.w30 {
        width: 30%; }
      .QMHandbuch .container .row .box.w33 {
        width: 33%; }
      .QMHandbuch .container .row .box.w47 {
        width: 47%; }
      .QMHandbuch .container .row .box.w100 {
        width: 100%; }
      .QMHandbuch .container .row .box.text-center {
        text-align: center; }
      .QMHandbuch .container .row .box.border {
        border: solid 1px #000000; }
      .QMHandbuch .container .row .box.align-right {
        text-align: right; }
      .QMHandbuch .container .row .box .header {
        font-size: 18px;
        font-weight: 700; }

/*# sourceMappingURL=pdfDoc.css.map */
