table {
  border: 1px black solid;
  border-collapse: collapse; }

td {
  border: 1px black solid;
  padding: 0 10px;
  vertical-align: top;
  font-size: 12px; }

thead {
  background: #8d8d8d;
  line-height: 1px;
  border: 3px black solid; }
  thead td {
    font-size: 26px; }

.headers td {
  text-align: center;
  font-size: 22px;
  line-height: 1px;
  border: 3px black solid; }

.header {
  background-color: #96c53f;
  padding: 20px;
  height: 20px;
  width: 100%;
  margin-bottom: 5px;
  display: table; }

.footer {
  background-color: #96c53f;
  padding: 20px;
  width: 100%;
  display: table; }

.footer table {
  width: 100%;
  border: 0; }
.footer td {
  border: 0;
  padding: 0 5px; }

/*# sourceMappingURL=Table.css.map */
