<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <h1>{f:translate(key: 'tx_artifeqhm_domain_model_document.documentlist_initialize')}</h1>

    <f:flashMessages/>
    <div class="row">
        <f:comment>
            <div class="col" style="min-height: 600px;">

                <div id="tree-clone-files">

                    <f:render partial="CategoryTreeToClone" arguments="{_all}"/>

                    <f:if condition="{settings.admin}">
                        <f:if condition="{args.pending}">
                            <f:then>
                                <f:link.action>
                                    <f:translate key="tx_artifeqhm_domain_model_document"/>
                                </f:link.action>
                            </f:then>
                            <f:else>
                                <f:link.action arguments="{pending: 1}">
                                    <f:translate key="tx_artifeqhm_domain_model_document.pending"/>
                                </f:link.action>
                            </f:else>
                        </f:if>
                    </f:if>
                </div>
            </div>
        </f:comment>
    </div>
    <f:form action="makeCloneDocuments" id="selected-category" name="document" object="{document}">
        <f:form.hidden id="selected-categories" name="selectedCategories" value=""/>
        <f:form.submit value="{f:translate(key: 'tx_artifeqhm_domain_model_document.initialize')}"/>
        <br/>
        <a class="button button--primary" style="margin-top: 20px;" href="javascript:history.back();">{f:translate(key:
            'tx_artifeqhm_domain_model_document.back')}</a>
    </f:form>
</f:section>
</html>

