<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <h1>Inhalts Übernahme</h1>

    <f:flashMessages/>

    <f:render partial="FormErrors" arguments="{object:Document}"/>

    <f:form id="compareForm" action="updateCompare" name="document" object="{document}">

        <f:render partial="Document/Compare/{document.typ}" arguments="{_all}"/>

        <div class="row">
            <div class="col w50p">
                <f:form.submit name="btn1" value="neue Inhalte Übernehmen"/>
            </div>
            <div class="col w50p">
                <f:form.submit name="btn2" value="meine Version behalten"
                               onclick="return confirm('{f:translate(key: \'tx_artifeqhm_domain_model_document.keep_my_version\')}');"/>
            </div>
            <br/>
            <div class="col w100p">
                <a class="button button--primary" style="margin-top: 20px;"
                   href="javascript:history.back();">
                    {f:translate(key: 'tx_artifeqhm_domain_model_document.back')}
                </a>
            </div>

        </div>


    </f:form>


</f:section>
</html>