<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="!{isMaster}">
        <f:then>
            <h1>{f:translate(key: 'tx_artifeqhm_domain_model_document.copied_document')}</h1>
        </f:then>
        <f:else>
            <h1>{f:translate(key: 'tx_artifeqhm_domain_model_document.document_list')}</h1>
        </f:else>
    </f:if>
    <f:flashMessages/>
    <div class="row">
        <div class="col w33p" style="min-height: 600px;">
            <f:if condition="{userCategories}">
                <div id="tree">
                    <f:render partial="CategoryTree" arguments="{_all}"/>
                </div>
            </f:if>
            <f:render partial="Document/Navigation" arguments="{_all}"/>
        </div>
        <div class="col w70p" style="width: 70%;">
            <f:render partial="Document/List/Documents" arguments="{_all}"/>
        </div>
    </div>
</f:section>
</html>

