<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <h1>New Document</h1>

    <f:flashMessages/>

    <f:render partial="FormErrors" arguments="{object:Document}"/>

    <f:form action="create" enctype="multipart/form-data" name="document" object="{document}" class="validate">
        <f:form.hidden property="typ"/>

        <f:if condition="{document.typ}">
            <f:then>
                <f:render partial="Document/New/{document.typ}" arguments="{_all}"/>
            </f:then>
            <f:else>
                <f:render partial="Document/New/Table" arguments="{_all}"/>
            </f:else>
        </f:if>
        <f:form.submit value="Speichern"/>
        <br/>
        <a class="button button--primary" style="margin-top: 20px;" href="javascript:history.back();">
            {f:translate(key: 'tx_artifeqhm_domain_model_document.back')}<
        </a>
    </f:form>

</f:section>
</html>