<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
	<h1>{f:translate(key: 'tx_artifeqhm_domain_model_document.new_version')}</h1>

	<f:flashMessages/>

	<f:render partial="FormErrors" arguments="{object:Document}"/>

	<f:form action="updateNewVersion" enctype="multipart/form-data" name="document" object="{document}">

		<f:render partial="Document/NewVersion/Edit" arguments="{_all}" /><br/>
		<f:form.submit value="Speichern"/><br/>
		<a class="button button--primary" style="margin-top: 20px;" href="javascript:history.back();">
			{f:translate(key: 'tx_artifeqhm_domain_model_document.back')}
		</a>
	</f:form>

</f:section>
</html>