<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <h1>Liste aller Benachrichtigungen</h1>
    <f:flashMessages/>
    <div class="row">
        <div class="col w33p" style="min-height: 600px;">
            <f:render partial="Document/Navigation" arguments="{_all}"/>
        </div>

        <div class="col" style="width: 70%;">
            <f:render partial="Document/Notifications/Documents"
                      arguments="{documents: notifications, notifications: notifications}"/>
        </div>

    </div>
</f:section>
</html>

