<ul>
    <f:for each="{categories}" as="oneCategoryBase">
        <v:condition.iterator.contains needle="{oneCategoryBase.uid}" haystack="{userCategories}">
            <li data-url="{f:uri.action(controller: 'DocumentAjax', action:'getDocumentsByCategory',arguments:{category:'{oneCategoryBase.uid}'}, pageType: '19852604')}"
                data-jstree='&lbrace;"selected":{f:if(condition: ' {oneCategoryBase.uid}=={category}', then: 'true', else: 'false')}&rbrace;'>
                {oneCategoryBase.title}
                <ul>
                    <f:for each="{oneCategoryBase.categories}" as="oneCategoryChild">
                        <v:condition.iterator.contains needle="{oneCategoryChild.uid}" haystack="{userCategories}">
                            <li data-url="{f:uri.action(controller: 'DocumentAjax',action:'getDocumentsByCategory',arguments:{category:'{oneCategoryChild.uid}'}, pageType: '19852604')}"
                                data-jstree='&lbrace;"selected":{f:if(condition: ' {oneCategoryChild.uid}=={category}', then: 'true', else: 'false')}&rbrace;'>
                                {oneCategoryChild.title}
                                <ul>
                                    <f:for each="{oneCategoryChild.categories}" as="oneCategoryChild1">
                                        <v:condition.iterator.contains needle="{oneCategoryChild1.uid}" haystack="{userCategories}">
                                            <li data-url="{f:uri.action(controller: 'DocumentAjax',action:'getDocumentsByCategory',arguments:{category:'{oneCategoryChild1.uid}'}, pageType: '19852604')}"
                                                data-jstree='&lbrace;"selected":{f:if(condition: '{oneCategoryChild1.uid}=={category}', then: 'true', else: 'false')}&rbrace;'>
                                                {oneCategoryChild1.title}
                                                <ul>
                                                    <f:for each="{oneCategoryChild1.categories}" as="oneCategoryChild2">
                                                        <v:condition.iterator.contains needle="{oneCategoryChild2.uid}" haystack="{userCategories}">
                                                            <li data-url="{f:uri.action(controller: 'DocumentAjax',action:'getDocumentsByCategory',arguments:{category:'{oneCategoryChild2.uid}'}, pageType: '19852604')}"
                                                                data-jstree='&lbrace;"selected":{f:if(condition: '{oneCategoryChild2.uid}=={category}', then: 'true', else: 'false')}&rbrace;'>
                                                                {oneCategoryChild2.title}
                                                            </li>
                                                        </v:condition.iterator.contains>
                                                    </f:for>
                                                </ul>
                                            </li>
                                        </v:condition.iterator.contains>
                                    </f:for>
                                </ul>
                            </li>
                        </v:condition.iterator.contains>
                    </f:for>
                </ul>
            </li>
        </v:condition.iterator.contains>
    </f:for>
</ul>
