<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <h1>{f:translate(key: 'tx_artifeqhm_domain_model_device.device_initialize')}</h1>

    <f:flashMessages/>

    <div class="row">
        <f:comment>
            <div class="col" style="min-height: 600px;">
                <div id="tree-clone-files">
                    <f:render partial="CategoryTreeToClone" arguments="{_all}"/>
                </div>
            </div>
        </f:comment>
    </div>

    <f:form action="makeClone" id="selected-category" name="device" object="{device}">
        <f:form.hidden id="selected-categories" name="selectedCategories" value=""/>
        <f:form.submit value="{f:translate(key: 'tx_artifeqhm_domain_model_document.initialize')}"/>
        <br/>
        <a class="button button--primary" style="margin-top: 20px;" href="javascript:history.back();">{f:translate(key: 'tx_artifeqhm_domain_model_document.back')}</a>
    </f:form>
</f:section>
</html>

