<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Document"/>

<f:section name="main">
    <f:if condition="{devices}">
        <h2>{category.title}</h2>
        <table border="1" cellpadding="2" cellspacing="0" class="tx_artifeqhm">
            <tr>
                <th valign="top" width="120" style="word-break: break-all">
                    <f:translate key="tx_artifeqhm_domain_model_device.type" extensionName="artif_eqhm"/>
                </th>
                <th valign="top" style="word-break: break-all">
                    <f:translate key="tx_artifeqhm_domain_model_device.name" extensionName="artif_eqhm"/>
                </th>
                <th valign="top" style="word-break: break-all">
                    <f:translate key="tx_artifeqhm_domain_model_device.manufacturer" extensionName="artif_eqhm"/>
                </th>
                <th valign="top" style="word-break: break-all">
                    <f:translate key="tx_artifeqhm_domain_model_device.number" extensionName="artif_eqhm"/>
                </th>
                <th valign="top" style="word-break: break-all">
                    <f:translate key="tx_artifeqhm_domain_model_device.ce_mark" extensionName="artif_eqhm"/>
                </th>
                <th valign="top" style="word-break: break-all">
                    <f:translate key="tx_artifeqhm_domain_model_device.serial_number" extensionName="artif_eqhm"/>
                </th>
                <th valign="top" style="word-break: break-all">
                    <f:translate key="tx_artifeqhm_domain_model_device.year_of_construction" extensionName="artif_eqhm"/>
                </th>
                <th valign="top" style="word-break: break-all">
                    <f:translate key="tx_artifeqhm_domain_model_device.space" extensionName="artif_eqhm"/>
                </th>
                <th valign="top" style="word-break: break-all">
                    <f:translate key="tx_artifeqhm_domain_model_device.notes" extensionName="artif_eqhm"/>
                </th>
            </tr>
            <f:for each="{devices}" as="device">
                <tr>
                    <td>{device.type}</td>
                    <td>{device.name}</td>
                    <td>{device.manufacturer}</td>
                    <td>{device.number}</td>
                    <td>{device.ceMark}</td>
                    <td>{device.serialNumber}</td>
                    <td>{device.yearOfConstruction}</td>
                    <td>{device.space}</td>
                    <td></td>
                </tr>
            </f:for>
        </table>
    </f:if>
</f:section>
</html>

