<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <f:flashMessages/>
    <div class="row">
        <div class="col w33p" style="min-height: 600px;">
            <div id="tree">
                <f:render partial="Device/CategoryTree" arguments="{_all}"/>
            </div>
        </div>
        <div class="col w70p" style="width: 70%;">
            <f:render partial="Device/List" arguments="{_all}"/>
        </div>
    </div>
</f:section>
</html>

