<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
    <h1>New Document</h1>

    <f:flashMessages/>

    <f:render partial="FormErrors" arguments="{object:Device}"/>

    <f:form action="create" enctype="multipart/form-data" name="device" object="{device}" class="validate">
        <f:if condition="{category}">
            <f:form.hidden property="categories.0" value="{category}" />
        </f:if>
        <f:render partial="Device/FormFields" arguments="{_all}"/>

        <f:form.submit value="Speichern" style="margin-top: 20px;"/>
        <br/>
        <a class="button button--primary" style="margin-top: 20px;" href="javascript:history.back();">
            {f:translate(key: 'tx_artifeqhm_domain_model_document.back')}
        </a>
    </f:form>

</f:section>
</html>