<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
    <f:flashMessages />
    <f:render partial="Device/Properties" arguments="{_all}" />

    <a class="button button--primary" style="margin-top: 20px;" href="javascript:history.back();">
        {f:translate(key: 'tx_artifeqhm_domain_model_document.back')}
    </a>
</f:section>
</html>