<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:eqhm="http://typo3.org/ns/Artif/ArtifEqhm/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="replaceAbleContent">
    <f:if condition="{category}">
        <ul class="controls">
            <li>
                <f:render partial="Document/New" arguments="{_all}"/>
            </li>
            <li>
                <f:render partial="Document/Upload" arguments="{_all}"/>
            </li>
            <li>
                <f:render partial="Document/NewLink" arguments="{_all}"/>
            </li>
        </ul>
    </f:if>
    <f:if condition="{documents}">
        <f:then>
            <table border="1" cellpadding="2" cellspacing="0" class="tx_artifeqhm">
                <tr>
                    <th>
                        <div style='width: 330px;'>
                            <f:translate key="tx_artifeqhm_domain_model_document.name"/>
                        </div>
                    </th>
                    <f:if condition="{editor}">
                        <f:then>
                            <f:render partial="Document/List/EditorColumnsHeader" arguments="{_all}"/>
                        </f:then>
                        <f:else>
                            <th></th>
                        </f:else>
                    </f:if>
                </tr>

                <f:for each="{documents}" as="document">
                    <f:if condition="{editor}">
                        <f:then>
                            <tr>
                                <td>
                                    <div style='width: 330px;word-wrap: break-word;'>{document.name}</div>
                                </td>
                                <f:comment>
                                    <td>
                                        {document.uid}-{document.cloneOf.uid}-{document.newestVersionOfDocumentFile.file.uid}
                                        : {document.name}
                                    </td>
                                </f:comment>
                                <f:render partial="Document/List/EditorColumns" arguments="{_all}"/>
                                <f:render partial="Document/List/Link" arguments="{_all}"/>
                            </tr>
                        </f:then>
                        <f:else>
                            <f:if condition="{document.newestVersionOfDocumentFile.signed} || !{document.signable}">
                                <tr>
                                    <td>
                                        <div style='width: 330px;word-wrap: break-word;'>{document.name}</div>
                                    </td>
                                    <f:render partial="Document/List/Link" arguments="{_all}"/>
                                </tr>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:for>
            </table>
        </f:then>
        <f:else>
            <div id="replaceAbleContent">
                <p>{f:translate(key: 'tx_artifeqhm_domain_model_document.no_documents_for_this_category')}</p>
            </div>
        </f:else>
    </f:if>
</div>
</html>