<f:if condition="!{practice.master}">
    <td><span title="{f:translate(key: 'tx_artifeqhm_domain_model_document.based_on_templates_version')}: {document.basedOnDocumentVersion}">{document.newestVersionOfDocumentFile.version}</span></td>
</f:if>
<f:if condition="{document.documentFiles}">
    <f:then>
    <f:if condition="{document.newestVersionOfDocumentFile.signed} && {document.signable}">
        <f:then>
            <td width="35px">
                <f:link.action controller="Document" action="newVersion" arguments="{document: document}">
                    {f:translate(key: 'tx_artifeqhm_domain_model_documentfile.new_version', extensionName: 'artif_eqhm')}
                </f:link.action>
            </td>
        </f:then>
        <f:else>
            <td width="35px">
                <f:link.action controller="Document" action="edit" arguments="{document : document}">
                    <f:image width="35px" title="Dokument editieren"
                         src="EXT:artif_eqhm/Resources/Public/Icons/edit_document.svg"/>
                </f:link.action>
            </td>
        </f:else>
    </f:if>
    </f:then>
    <f:else>
        <td width="35px"></td>
    </f:else>
</f:if>
