<th>{f:translate(key: 'tx_artifeqhm_domain_model_document.version')}</th>
<f:if condition="!{practice.master}">
    <th></th>
</f:if>
<th></th>
<f:if condition="{document.valid}">
    <f:then>
        <th>{f:translate(key: 'tx_artifeqhm_domain_model_document.status')}</th>
    </f:then>
    <f:then>
        <th></th>
    </f:then>
</f:if>
