<f:if condition="!{DocumentFile}">
    <f:if condition="{editor}">
        <f:then>
            <v:variable.set name="DocumentFile" value="{document.newestVersionOfDocumentFile}"/>
        </f:then>
        <f:else>
            <v:variable.set name="DocumentFile" value="{document.newestVersionOfSignedDocumentFile}"/>
        </f:else>
    </f:if>
</f:if>
<f:if condition="{document.typ} == 'Link'">
    <f:then>
        <td width="35px">
            <f:render partial="Document/List/ExtDocLink" arguments="{DocumentFile: DocumentFile}"/>
        </td>
    </f:then>
    <f:else>
        <td width="35px" class="{f:if(condition: '{DocumentFile.new} && !{editor}', then: 'is-new')}">
            <f:if condition="{DocumentFile}">
                <f:if condition="{DocumentFile.image}">
                    <f:then>
                        <f:if condition="{DocumentFile.file.originalResource.publicUrl}">
                            <f:link.typolink parameter="{DocumentFile.file.originalResource.publicUrl}">
                                <f:image width="44px" title="File Herunterladen"
                                     src="EXT:artif_eqhm/Resources/Public/Icons/image_document.svg"/>
                            </f:link.typolink>
                        </f:if>
                    </f:then>
                    <f:else>
                        <f:link.action action="generatePDF" arguments="{document : document}">
                            <f:image width="35px" title="PDF Herunterladen"
                                 src="EXT:artif_eqhm/Resources/Public/Icons/pdf_document.svg"/>
                        </f:link.action>
                    </f:else>
                </f:if>
            </f:if>
        </td>
    </f:else>
</f:if>
<f:comment>
    <td style="display:none">
        {document.typ}
    </td>
</f:comment>
