<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Edit Signature</h1>

<f:flashMessages />

<f:render partial="FormErrors" arguments="{object:Signature}" />

<f:form action="update" name="signature" object="{signature}" >
<f:render partial="Signature/FormFields" arguments="{signature:signature}" />
  <br />
<f:form.submit value="Save" />
</f:form>
</f:section>
</html>