<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Signature</h1>

<f:flashMessages />

<table  class="tx_artifeqhm" >
	<tr>
		<th><f:translate key="tx_artifeqhm_domain_model_signature.position" /></th>
		<th><f:translate key="tx_artifeqhm_domain_model_signature.signature_image" /></th>
		<th><f:translate key="tx_artifeqhm_domain_model_signature.signature_name" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{signatures}" as="signature">
		<tr>
			<td><f:link.action action="show" arguments="{signature : signature}"> {signature.position}</f:link.action></td>
			<f:if condition="{signature.signatureImage}">
				<td><f:link.action action="show" arguments="{signature : signature}"> {signature.signatureImage.originalResource.name}</f:link.action></td>
			</f:if>
			<td><f:link.action action="show" arguments="{signature : signature}"> {signature.signatureName}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{signature : signature}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{signature : signature}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Signature</f:link.action>
</f:section>
</html>