<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">
	<h1>Sign</h1>
	<h2>{document.name}</h2>
	<f:flashMessages/>
	<f:form action="signDocument" arguments="{documentFile: documentFile}">

		<hr/>
		<f:render partial="Document/Show/{document.typ}" arguments="{_all}" />
		<hr/>
		<f:form.select name="signature"
					   options="{practice.signatures}"
					   optionLabelField="signatureName"
					   prependOptionLabel="* -- Bitte wählen --"
					   prependOptionValue="0"/>
		<br /><br />
		<f:form.submit value="Sign"/>
	</f:form>


</f:section>
</html>