<td>
    {document.newestVersionOfDocumentFile.version}
</td>
<f:if condition="!{practice.master}">
    <td>{f:translate(key: 'tx_artifeqhm_domain_model_document.based_on_templates_version')}: {document.basedOnDocumentVersion}</td>
</f:if>
<td width="35px">
    <f:link.action action="showVersionForSigning" controller="Signature" arguments="{document : document}">
        <f:image width="35px" title="Dokument sign" src="EXT:artif_eqhm/Resources/Public/Icons/edit_document.svg" />
    </f:link.action>
</td>
<f:if condition="{document.valid}">
    <td width="35px">{document.valid}</td>
</f:if>