{namespace eqhm=Artif\ArtifEqhm\ViewHelpers}
<th>Dokumenten Version</th>
<f:if condition="!{practice.master}">
    <th></th>
</f:if>
<f:if condition="!{pending}">
    <f:then>
        <th><f:link.action  controller="Document" action="new" arguments="{document : document, category: category}">New</f:link.action></th>
        <th>
            <f:form  controller="Document" action="upload" enctype="multipart/form-data" object="{document}" objectName="document" id="form-upload" arguments="{category: category}">
                <label>
                    Upload
                    <eqhm:upload property="documentFiles.0.file" id="upload-file" style="display: none" onchange="javascript:this.form.submit()">
                        <f:if condition="{resource}">
                            <f:image image="{resource}" alt="" width="100"/><br />
                        </f:if>
                    </eqhm:upload>
                </label>
                <f:if condition="{category}">
                    <f:form.hidden property="categories.0" value="{category}" />
                </f:if>
            </f:form>
        </th>
        <f:if condition="{document.valid}">
            <th>Status</th>
        </f:if>
    </f:then>
    <f:else>
        <th></th>
    </f:else>
</f:if>