<f:if condition="!{DocumentFile}">
    <f:if condition="{editor}">
        <f:then>
            <v:variable.set name="DocumentFile" value="{document.newestVersionOfDocumentFile}" />
        </f:then>
        <f:else>
            <v:variable.set name="DocumentFile" value="{document.newestVersionOfSignedDocumentFile}" />
        </f:else>
    </f:if>
</f:if>

