<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:eqhm="http://typo3.org/ns/Artif/ArtifEqhm/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{documents}">
	<f:then>
		<table border="1" class="tx_artifeqhm" id="replaceAbleContent">
			<tr>
				<th><f:translate key="tx_artifeqhm_domain_model_document.name"/></th>
				<th></th>
			</tr>
			<f:for each="{documents}" as="document">
				<tr>
					<td>{document.name}</td>
					<td width="35px">
						<f:link.action action="showVersionForSigning" controller="Signature" arguments="{document : document}">
							<f:image width="64px" title="Sign Dokument" src="EXT:artif_eqhm/Resources/Public/Icons/external_link.svg" />
						</f:link.action>
					</td>
				</tr>
			</f:for>
		</table>
	</f:then>
	<f:else>
		<div id="replaceAbleContent">
			<p>{f:translate(key: 'tx_artifeqhm_domain_model_document.no_documents_for_this_category')}</p>
		</div>
	</f:else>
</f:if>
</html>