<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body onload="substitutePdfVariables()">
	<div class="footer">
		<span></span>
		<table>
			<tbody>

			<f:if condition="{documentFile.signed}">
				<tr>
					<td>{f:translate(key: 'tx_artifeqhm_domain_model_signature.footer_date', extensionName: 'artif_eqhm')}</td>
					<td>{f:translate(key: 'tx_artifeqhm_domain_model_signature.{documentFile.signatureIndex}.signature_name', extensionName: 'artif_eqhm')}</td>
				</tr>
				<tr>
					<td><f:format.date format="d. m. Y">{documentFile.signed}</f:format.date></td>
					<td>{documentFile.signatureName}</td>
					<td rowspan="2">
						<f:if condition="{documentFile.signatureImage} && {documentFile.signatureImage.originalResource.publicUrl}">
							<img src="{pathSite}{documentFile.signatureImage.originalResource.publicUrl}" width="100px"/>
						</f:if>
					</td>
				</tr>
			</f:if>
			<tr>
				<td style="text-align: right;" colspan="3"><span class="page"></span> / <span class="topage"></span></td>
			</tr>
			</tbody>
		</table>
	</div>
	<script>
        function substitutePdfVariables() {
            function getParameterByName(name) {
                var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
                return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
            }
            function substitute(name) {
                var value = getParameterByName(name);
                var elements = document.getElementsByClassName(name);
                for (var i = 0; elements && i < elements.length; i++) {
                    elements[i].textContent = value;
                }
            }
            ['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection'].forEach(function(param) { substitute(param); });
        }
	</script>
</body>
</html>