<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Table Vorlage</title>
</head>
<body>

<f:format.html>{documentFile.additionalContent}</f:format.html>
<f:format.html>{documentFile.content}</f:format.html>

</body>
</html>