<label for="name">
    <f:translate key="tx_artifeqhm_domain_model_document.name"/>
</label>
<f:form.textfield
        id="name"
        property="name"/>
<br/><br/>

<f:if condition="{category}">
    <f:form.hidden property="categories.0" value="{category}" />
</f:if>
