<label for="name">
    <f:translate key="tx_artifeqhm_domain_model_document.name"/>
</label>
<f:form.textfield id="name" property="name"/>
<br/><br/>
<f:if condition="{documentFile.additionalContent}">

    <label for="documentFile.additionalContent">
        <f:translate key="tx_artifeqhm_domain_model_documentfile.additional_content"/>
    </label>
    <f:form.textarea
            id="documentFile.additionalContent"
            class="readonly"
            name="documentFile[additionalContent]"
            value="{documentFile.additionalContent}"
            additionalAttributes="{readonly: 'readonly'}"
    />
    <br/><br/>
</f:if>

<label for="documentFile.content">
    <f:translate key="tx_artifeqhm_domain_model_documentfile.content"/>
</label>
<f:form.textarea id="documentFile.content" class="editable" name="documentFile[content]" value="{documentFile.content}"/><br/>
<br/><br/>

<f:if condition="{category}">
    <f:form.hidden property="categories.0" value="{category}" />
</f:if>
