<label for="name">
    <f:translate key="tx_artifeqhm_domain_model_document.name"/>
    <f:form.textfield property="name"/>
</label>
<br/>
<p>Vorschau</p>
<f:image src="{documentFile.file.originalResource.publicUrl}"/>
<br/>
<f:if condition="{category}">
    <f:form.hidden property="categories.0" value="{category}"/>
</f:if>
<br/>

