
<label for="name">
    <f:translate key="tx_artifeqhm_domain_model_document.name"/>
</label>
<f:form.textfield property="name"/>
<br/>
<label for="documentFile">
    <f:translate key="tx_artifeqhm_domain_model_documentfile.content"/>
</label>
<f:form.textarea class="editable" property="documentFiles.0.content"/><br/>
<f:if condition="{category}">
    <f:form.hidden property="categories.0" value="{category}" />
</f:if>
<br/>