<ul>
    <f:for each="{categories}" as="oneCategoryBase">
        <li data-url="{f:uri.action(controller: 'Device', action:'list',arguments:{category:'{oneCategoryBase.uid}'}, pageType: '26041985')}"
            data-jstree='&lbrace;"selected":{f:if(condition: ' {oneCategoryBase.uid}=={category}', then: 'true', else: 'false')}&rbrace;'>
            {oneCategoryBase.title}
            <ul>
                <f:for each="{oneCategoryBase.categories}" as="oneCategoryChild">
                    <li data-url="{f:uri.action(controller: 'Device',action:'list',arguments:{category:'{oneCategoryChild.uid}'}, pageType: '26041985')}"
                        data-jstree='&lbrace;"selected":{f:if(condition: ' {oneCategoryChild.uid}=={category}', then: 'true', else: 'false')}&rbrace;'>
                        {oneCategoryChild.title}
                        <ul>
                            <f:for each="{oneCategoryChild.categories}" as="oneCategoryChild1">
                                <li data-url="{f:uri.action(controller: 'Device',action:'list',arguments:{category:'{oneCategoryChild1.uid}'}, pageType: '26041985')}"
                                    data-jstree='&lbrace;"selected":{f:if(condition: '{oneCategoryChild1.uid}=={category}', then: 'true', else: 'false')}&rbrace;'>
                                    {oneCategoryChild1.title}
                                    <ul>
                                        <f:for each="{oneCategoryChild1.categories}" as="oneCategoryChild2">
                                            <li data-url="{f:uri.action(controller: 'Device',action:'list',arguments:{category:'{oneCategoryChild2.uid}'}, pageType: '26041985')}"
                                                data-jstree='&lbrace;"selected":{f:if(condition: '{oneCategoryChild2.uid}=={category}', then: 'true', else: 'false')}&rbrace;'>
                                                {oneCategoryChild2.title}
                                            </li>
                                        </f:for>
                                    </ul>
                                </li>
                            </f:for>
                        </ul>
                    </li>
                </f:for>
            </ul>
        </li>
    </f:for>
</ul>
