<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<label for="type">
		<f:translate key="tx_artifeqhm_domain_model_device.type"/>
	</label>
	<br/>
	<f:form.textfield property="type" id="type" required="1" />
	<br/>

	<label for="name">
		<f:translate key="tx_artifeqhm_domain_model_device.name"/>
	</label>
	<br/>
	<f:form.textfield property="name" id="name" required="1" />
	<br/>

	<label for="manufacturer">
		<f:translate key="tx_artifeqhm_domain_model_device.manufacturer"/>
	</label>
	<br/>
	<f:form.textfield property="manufacturer" id="manufacturer" required="1" />
	<br/>

	<label for="ceMark">
		<f:translate key="tx_artifeqhm_domain_model_device.ce_mark"/>
	</label>
	<br/>
	<f:form.textfield property="ceMark" id="ceMark" />
	<br/>

	<label for="serialNumber">
		<f:translate key="tx_artifeqhm_domain_model_device.serial_number"/>
	</label>
	<br/>
	<f:form.textfield property="serialNumber" id="serialNumber" />
	<br/>

	<label for="yearOfConstruction">
		<f:translate key="tx_artifeqhm_domain_model_device.year_of_construction"/>
	</label>
	<br/>
	<f:form.textfield property="yearOfConstruction" id="yearOfConstruction" />
	<br/>

	<label for="space">
		<f:translate key="tx_artifeqhm_domain_model_device.space"/>
	</label>
	<br/>
	<f:form.textfield property="space" id="space" />
	<br/>

	<label for="number">
		<f:translate key="tx_artifeqhm_domain_model_device.number"/>
	</label>
	<br/>
	<f:form.textfield property="number" id="number" type="number" />
	<br/>
</html>