<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:eqhm="http://typo3.org/ns/Artif/ArtifEqhm/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="replaceAbleContent">
    <f:if condition="{category} && {editor}">
        <ul class="controls">
            <li>
                <f:link.action controller="Device" action="new" class="button button--primary"
                               arguments="{category: category}">New
                </f:link.action>
            </li>
        </ul>
    </f:if>
    <f:if condition="{devices}">
        <f:then>
            <table border="1" cellpadding="2" cellspacing="0" class="tx_artifeqhm">
                <tr>
                    <th>
                        <div>
                            <f:translate key="tx_artifeqhm_domain_model_device.type"/>
                        </div>
                    </th>
                    <th>
                        <div>
                            <f:translate key="tx_artifeqhm_domain_model_device.name"/>
                        </div>
                    </th>
                    <th>
                        <div>
                            <f:translate key="tx_artifeqhm_domain_model_device.number"/>
                        </div>
                    </th>
                    <f:comment>
                        <th>
                            <div>
                                <f:translate key="tx_artifeqhm_domain_model_device.manufacturer"/>
                            </div>
                        </th>
                        <th>
                            <div>
                                <f:translate key="tx_artifeqhm_domain_model_device.ce_mark"/>
                            </div>
                        </th>
                        <th>
                            <div>
                                <f:translate key="tx_artifeqhm_domain_model_device.serial_number"/>
                            </div>
                        </th>
                        <th>
                            <div>
                                <f:translate key="tx_artifeqhm_domain_model_device.year_of_construction"/>
                            </div>
                        </th>
                        <th>
                            <div>
                                <f:translate key="tx_artifeqhm_domain_model_device.space"/>
                            </div>
                        </th>
                        <th>
                            <div>
                                <f:translate key="tx_artifeqhm_domain_model_device.notes"/>
                            </div>
                        </th>
                    </f:comment>
                    <th></th>
                </tr>

                <f:for each="{devices}" as="device">
                    <tr>
                        <td>{device.type}</td>
                        <td>{device.name}</td>
                        <td>{device.number}</td>
                        <f:comment>
                            <td>{device.manufacturer}</td>
                            <td>{device.ceMark}</td>
                            <td>{device.serialNumber}</td>
                            <td>{device.yearOfConstruction}</td>
                            <td>{device.space}</td>
                            <td>{device.notes}</td>
                        </f:comment>
                        <td width="35px">
                            <f:comment>
                                <f:link.action action="show" arguments="{device: device}">
                                    Show
                                </f:link.action>
                            </f:comment>
                            <f:if condition="{editor}">
                                <f:link.action action="edit" arguments="{device: device}">
                                    <f:image width="35px" title="Geräte editieren" src="EXT:artif_eqhm/Resources/Public/Icons/edit_document.svg"/>
                                </f:link.action>
                            </f:if>
                        </td>
                    </tr>
                </f:for>
            </table>
        </f:then>
        <f:else>
            <div id="replaceAbleContent">
                <f:if condition="{category}">
                    <f:then>
                        <p>{f:translate(key: 'tx_artifeqhm_domain_model_device.no_devices_for_this_category')}</p>
                    </f:then>
                    <f:else>
                        <p>{f:translate(key: 'tx_artifeqhm_domain_model_device.select_category')}</p>
                    </f:else>
                </f:if>
            </div>
        </f:else>
    </f:if>
</div>
</html>