<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-artif-eqhm">
	<tr>
		<td>
			<f:translate key="tx_artifeqhm_domain_model_device.type"/>
		</td>
		<td>{device.type}</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_artifeqhm_domain_model_device.name"/>
		</td>
		<td>{device.name}</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_artifeqhm_domain_model_device.manufacturer"/>
		</td>
		<td>{device.manufacturer}</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_artifeqhm_domain_model_device.number"/>
		</td>
		<td>{device.number}</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_artifeqhm_domain_model_device.ce_mark"/>
		</td>
		<td>{device.ceMark}</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_artifeqhm_domain_model_device.serial_number"/>
		</td>
		<td>{device.serialNumber}</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_artifeqhm_domain_model_device.year_of_construction"/>
		</td>
		<td>{device.yearOfConstruction}</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_artifeqhm_domain_model_device.space"/>
		</td>
		<td>{device.space}</td>
	</tr>
</table>
</html>