<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:eqhm="http://typo3.org/ns/Artif/ArtifEqhm/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{documents}">
	<f:then>
		<table border="1" cellpadding="2" cellspacing="0" class="tx_artifeqhm" id="replaceAbleContent">
			<tr>
				<th>
					<f:translate key="tx_artifeqhm_domain_model_document.name"/>
				</th>
				<f:if condition="{editor}">
					<f:then>
						<f:render partial="Document/Notifications/EditorColumnsHeader" arguments="{_all}" />
					</f:then>
					<f:else>
						<th></th>
					</f:else>
				</f:if>
			</tr>
			<f:for each="{documents}" as="document">
				<tr>
					<td>{document.name}</td>
					<f:if condition="{editor}">
						<f:render partial="Document/Notifications/EditorColumns" arguments="{_all}" />
					</f:if>
					<f:render partial="Document/Notifications/Link" arguments="{_all}" />
				</tr>
			</f:for>
		</table>
	</f:then>
	<f:else>
		<div id="replaceAbleContent">
			<p>{f:translate(key: 'tx_artifeqhm_domain_model_document.no_documents_for_this_category')}</p>
		</div>
	</f:else>
</f:if>
</html>