<f:if condition="!{DocumentFile}">
    <f:if condition="{editor}">
        <f:then>
            <v:variable.set name="DocumentFile" value="{document.newestVersionOfDocumentFile}" />
        </f:then>
        <f:else>
            <v:variable.set name="DocumentFile" value="{document.newestVersionOfSignedDocumentFile}" />
        </f:else>
    </f:if>
</f:if>
<td width="35px">
    <f:if condition="{document.notify}">
        <f:link.action controller="Document" action="compareWithBase" arguments="{document : document}">
            <f:image width="35px" title="Compare" src="EXT:artif_eqhm/Resources/Public/Icons/compare.png" />
        </f:link.action>
    </f:if>
</td>


