<f:for each="{categories}" as="oneCategoryBase">
	<ul>
		<li data-category="{oneCategoryBase.base.uid}" data-jstree='&lbrace;"selected":{f:if(condition: '{oneCategoryBase.base.uid}=={category}', then: 'true', else: 'false')}&rbrace;'>{oneCategoryBase.base.title}
			<ul>
				<f:for each="{oneCategoryBase.childs}" as="oneCategoryChild">
					<li data-category="{oneCategoryChild.base.uid}" data-jstree='&lbrace;"selected":{f:if(condition: '{oneCategoryChild.base.uid}=={category}', then: 'true', else: 'false')}&rbrace;'>{oneCategoryChild.base.title}
						<ul>
							<f:for each="{oneCategoryChild.childs}" as="oneCategoryChild1">
								<li data-category="{oneCategoryChild1.base.uid}" data-jstree='&lbrace;"selected":{f:if(condition: '{oneCategoryChild1.base.uid}=={category}', then: 'true', else: 'false')}&rbrace;'>{oneCategoryChild1.base.title}
									<ul>
										<f:for each="{oneCategoryChild1.childs}" as="oneCategoryChild2">
											<li data-category="{oneCategoryChild2.base.uid}" data-jstree='&lbrace;"selected":{f:if(condition: '{oneCategoryChild2.base.uid}=={category}', then: 'true', else: 'false')}&rbrace;'>{oneCategoryChild2.base.title}</li>
										</f:for>
									</ul>
								</li>
							</f:for>
						</ul>
					</li>
				</f:for>
			</ul>
		</li>
	</ul>
</f:for>