<div class="footer">
	<span></span>
	<table>
		<tbody>
			<tr>
				<td>{f:translate(key: 'tx_artifeqhm_domain_model_signature.footer_date', extensionName: 'artif_eqhm')}</td>
				<td>{f:translate(key: 'tx_artifeqhm_domain_model_signature.{documentFile.signatureIndex}.signature_name', extensionName: 'artif_eqhm')}</td>
			</tr>
			<tr>
				<td><f:format.date format="d. m. Y">{documentFile.signed}</f:format.date></td>
				<td>{documentFile.signatureName}</td>
				<td rowspan="2">
					<f:if condition="{documentFile.signatureImage} && {documentFile.signatureImage.originalResource.publicUrl}">
						<img src="{pathSite}{documentFile.signatureImage.originalResource.publicUrl}" width="100px"/>
					</f:if>
				</td>
			</tr>
		</tbody>
	</table>
</div>