<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<label for="name">
		<f:translate key="tx_artifeqhm_domain_model_document.name"/>
	</label><br/>
	<f:form.textfield property="name"/>
	<br/>
	<f:for each="{document.documentFiles}" as="oneDocumentFile">
		<label for="documentFiles.{oneDocumentFile.uid}.content">
			<f:translate key="tx_artifeqhm_domain_model_documentfile.content"/>
		</label><br/>
		<f:form.textarea property="documentFiles.{oneDocumentFile.uid}.content" value="{oneDocumentFile.content}"/>
		<br/>
	</f:for>

</html>