<div class="header">
	<span>{practice.name}</span>
	<span>{practice.street}, {practice.number}, {practice.zip}, {practice.city}, {f:if(condition: practice.country, then: practice.country)}</span>
</div>