<f:if condition="{editor}">
    <ul>
        <li>
            <f:link.action controller="Document" action="list" >
                <f:translate key="tx_artifeqhm_domain_model_document" />
            </f:link.action>
        </li>
        <li>
            <f:link.action controller="Document" action="pending" arguments="{pending: 1}">
                <f:translate key="tx_artifeqhm_domain_model_document.pending" />
            </f:link.action>
        </li>
        <f:if condition="{notifications}">
            <li>
                <f:link.action controller="Document" action="notifications" arguments="{notifications: 1}"><f:translate key="tx_artifeqhm_domain_model_document.notifications" /></f:link.action>
            </li>
        </f:if>
    </ul>
</f:if>