<label for="name">
	<f:translate key="tx_artifeqhm_domain_model_document.name"/>
</label><br/>
<f:form.textfield property="name"/>
<br/>



<label for="documentFiles.{documentFiles.uid}.content">
	<f:translate key="tx_artifeqhm_domain_model_documentfile.content"/>
</label><br/>
<f:form.textarea property="documentFiles.{documentFile.uid}.content" value="{documentFiles.content}"/>
<br/>




<script src="/typo3conf/ext/artif_eqhm/Resources/Public/Javascript/Libraries/tinymce/js/tinymce/tinymce.min.js"	type="text/javascript"></script>
<script src="/typo3conf/ext/artif_eqhm/Resources/Public/Javascript/artif_eqhm.js" type="text/javascript"></script>