<f:comment>
    {namespace eqhm=Artif\ArtifEqhm\ViewHelpers}
    <f:form controller="Document" action="upload" class="upload button button--primary" enctype="multipart/form-data" object="{document}" objectName="document"
            id="form-upload" arguments="{category: category}">
        <label>
            Upload
            <eqhm:upload property="documentFiles.0.file"
                         id="upload-file"
                         style="display: none"
                         onchange="javascript:this.form.submit()">
                <f:if condition="{resource}">
                    <f:image image="{resource}" alt="" width="100"/>
                    <br/>
                </f:if>
            </eqhm:upload>
        </label>
        <f:if condition="{category}">
            <f:form.hidden property="categories.0" value="{category}"/>
        </f:if>
    </f:form>
</f:comment>

<f:link.action controller="Document" action="new" class="button button--primary" arguments="{document: {typ: 'NoneEditablePortableDocumentFormat'}, category: category}">Upload</f:link.action>