.alert{
	background-color: #98c862;
	color: #fff;
	padding: 25px 17px 17px 80px;
	margin: 30px 0;
	min-height: 2.3em;
	border-bottom-right-radius: 20px;
	list-style: none;
}
.alert-info {
	background-color: #81bcce;
}
.alert-danger {
	background-color: #eb5058;
}
#tree {
	overflow: scroll;
}
.w70p{
	padding-left:15px;
}
form.upload {
	margin-bottom: 0;
}
form.upload:hover,
form.upload > label:hover {
	cursor: pointer;
}
ul.controls {
	padding-left: 0;
}
ul.controls > li {
	display: inline-block;
}
.is-new {
	border: 1px solid #fc0000; /* some kind of blue border */

	/* other CSS styles */

	/* round the corners */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;


	/* make it glow! */
	-webkit-box-shadow: 0px 0px 4px #FC0000;
	-moz-box-shadow: 0px 0px 4px #FC0000;
	box-shadow: 0px 0px 4px #FC0000;
}
