<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Händehygiene</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="5">
            <p><strong>Hände</strong></p>
            <p>…leicht erreichbarer Handwaschplatz mit fließend warm und kaltem Wasser</p>
            <p>…kurze Fingernägel, unlackiert</p>
        </td>
        <td>
            <p>Waschen (Reinigen)</p>
        </td>
        <td>
            <p>Flüssigwaschpräparat</p>
            <p>aus Direktspender:</p>
            <p>HD 435 Waschlotion</p>
            <p>Trocknen mit Handtuch zum Einmalgebrauch (Box, Spender)</p>
        </td>
        <td>
            <ul>
                <p>vor Arbeitsbeginn</p>
                <p>bei sichtbarer Verschmutzung</p>
                <p>nach jedem Toilettengang</p>
                <p>nach Arbeitsende</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Desinfizieren (ausreichende Menge, um die Hände während der Einwirkzeit feucht zu halten)</p>
        </td>
        <td>
            <p>Händedesinfektionsmittel aus Direktspender</p>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            <p>hygienische Händedesinfektion (Einwirkzeit nach Herstellerangabe)</p>
        </td>
        <td>
            <p>Präparat:</p>
            <p style="color: #0070c0">HD 410 Händedesinfektion</p>
            <p>Dosierung: 3 ml (mind.)</p>
            <p>Einwirkzeit: 15 Sek.</p>
        </td>
        <td>
            <ul>
                <p>vor der Arbeitsvorbereitung</p>
            </ul>
            <ul>
                <p>vor und nach jeder Behandlung</p>
            </ul>
            <ul>
                <p>bei Unterbrechung der Behandlung</p>
            </ul>
            <ul>
                <p>nach Arbeitsplatzwartung</p>
            </ul>
            <ul>
                <p>vor dem An-,bzw. Ausziehen der Handschuhe</p>
            </ul>
            <ul>
                <p>nach jedem Toilettengang</p>
            </ul>
        </td>
        <td rowspan="2">
            <p>alle Beschäftigten im Untersuchungs-, Behandlungs- und Wartungsbereich unabhängig davon, ob
                Schutzhandschuhe getragen werden.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>chirurgische Händedesinfektion (Einwirkzeit nach Herstellerangaben)</p>
            <p>Waschen, Trocknen, anschl. Desinfizieren der Hände und Unterarme (besondere Sorgfalt an Fingerkuppen und
                Nagelfalzen)</p>
            <p>anschließend: Anziehen steriler Handschuhe.</p>
        </td>
        <td>
            <p>Präparat:</p>
            <p style="color: #0070c0">HD 410 Händedesinfektion</p>
            <p>Dosierung: 3 ml (mind.)</p>
            <p>Einwirkzeit: 90 Sek.</p>
        </td>
        <td>
            <ul>
                <p>vor umfangreichen chirurgischen Eingriffen mit nachfolgendem speicheldichtem Wundverschluss</p>
            </ul>
            <ul>
                <p>vor allen zahnärztlich-chirurgischen und oralchirurgischen Eingriffen am Patienten mit erhöhtem
                    Infektionsrisiko</p>
            </ul>
            <ul>
                <p>Anziehen steriler Handschuhe</p>
            </ul>
            <p>Nach der chirurgischen Behandlung:</p>
            <p>Ablegen der Handschuhe, hygienische Händedesinfektion.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Pflegen</p>
        </td>
        <td>
            <p>Handpflegepräparat aus Direktspender:</p>
            <p style="color: #0070c0">HD 440 Dürr Dental</p>
        </td>
        <td>
            <ul>
                <p>bei Bedarf</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten</p>
        </td>
    </tr>
    </tbody>
</table>

<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Persönliche Schutzausrüstung</strong></p>
            <p>ungeeignete Kleidung und Schmuckstücke dürfen nicht getragen werden</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="3">
            <p><strong>Handschuhe</strong></p>
            <p>… Schmuckstücke dürfen nicht getragen werden</p>
        </td>
        <td>
            <p>nach hygienischer Händedesinfektion auf die trockene Haut</p>
        </td>
        <td>
            <p>unsterile, ungepuderte Einmalhandschuhe:</p>
            <p style="color: #0070c0">Verde Aloe Vera, Latex-Einmalhand-schuhe</p>
            <p>puderfrei von Sänger</p>
        </td>
        <td>
            <ul>
                <p>immer, wenn die Hände mit Blut, anderen Körperflüssigkeiten oder infektiösen Substanzen in Kontakt
                    kommen können oder ein Infektionsrisiko bekannt ist oder Verletzungen vorliegen</p>
            </ul>
            <ul>
                <p>Wechsel nach jedem Patienten oder vor Verlassen des Behandlungsraumes. Bei langen Behandlungen
                    Wechsel zwischendurch vornehmen</p>
            </ul>
        </td>
        <td rowspan="2">
            <p>alle Beschäftigten im Untersuchungs-, Behandlungs- und Wartungsbereich</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>nach chirurgischer Händedesinfektion auf die trockene Haut</p>
        </td>
        <td>
            <p>sterile, ungepuderte Einmalhandschuhe:</p>
            <p style="color: #0070c0">Vasco OP Sensitive von Braun</p>
        </td>
        <td>
            <ul>
                <p>vor umfangreichen chirurgischen Eingriffen mit nachfolgendem speicheldichtem Wundverschluss</p>
            </ul>
            <ul>
                <p>vor <strong>allen</strong> Eingriffen bei Patienten mit erhöhtem Infektionsrisiko (Risikopatient)</p>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p>vor Desinfektion-, Reinigungs-, und Entsorgungsarbeiten</p>
        </td>
        <td>
            <p>Reinigungsmittelbeständige Schutz-Handschuhe:</p>
            <p style="color: #0070c0">Lila Handschuhe, Hu Friedy</p>
        </td>
        <td>
            <ul>
                <p>wenn die Hände mit schädigenden Stoffen in Kontakt kommen können (z.B. bei Desinfektions-,
                    Reinigungs- und Entsorgungsarbeiten)</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten im Wartungs-bereich</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Mund-Nasen-Schutz</strong></p>
        </td>
        <td>
        </td>
        <td>
            <p>Mund-Nasen-Schutz:</p>
            <p style="color: #0070c0">Earloop Maske von Henry Schein</p>
        </td>
        <td>
            <ul>
                <p>wenn mit Verspritzen oder Versprühen erregerhaltigen Materials zu rechnen ist</p>
            </ul>
            <ul>
                <p>bei Kontamination oder Durchfeuchtung wechseln</p>
            </ul>
        </td>
        <td rowspan="3">
            <p>alle Beschäftigten im Untersuchungs-, Behandlungs-, und Wartungsbereich</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Schutzbrille</strong></p>
        </td>
        <td>
        </td>
        <td>
            <p>Brille, möglichst mit Seitenschutz:</p>
            <p style="color: #0070c0">KDD Germany</p>
        </td>
        <td>
            <ul>
                <p>nach Kontamination mit desinfektionsgetränktem Tuch abwischen</p>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Schutzkleidung</strong></p>
            <p>…ungeeignete Kleidung und Schmuckstücke dürfen nicht getragen werden</p>
        </td>
        <td>
        </td>
        <td>
            <p style="color: #0070c0">OP-Haube von Henry Schein,</p>
            <p style="color: #0070c0">Einmal Jacke Sänger und OP-Kittel Modell Special Plus von OMNIA S.p.A</p>
            <p style="color: #0070c0">medimex Einmal-PE-Schürze classic plus in weiß</p>
        </td>
        <td>
            <ul>
                <p>nur in besonderen Risikosituationen</p>
            </ul>
            <ul>
                <p>bei Desinfektions-, Reinigungs- und Entsorgungsarbeiten</p>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<table>
    <tbody>
    <tr>
        <td>
            <p><strong>Aufbereitungsverfahren für Medizinprodukte</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <ol>
                <p><strong>Maschinelle Reinigung und Desinfektion im Reinigungs- und Desinfektionsgerät (RDG)</strong>
                </p>
            </ol>
            <ol>
                <ol>
                    <p>Validiertes Verfahren im RDG</p>
                    <p>Verfahren im RDG bei dem nur die Reinigung validierbar ist.</p>
                </ol>
            </ol>
            <ol>
                <p><strong>Manuelle Reinigung und Desinfektion (nach Standardarbeitsanweisungen)</strong></p>
            </ol>
            <ol>
                <ol>
                    <p>Eintauchverfahren (Bei Bedarf in Kombination mit Ultraschall)</p>
                    <p>Sprüh-/Wischverfahren für Außenflächen von Medizinprodukten</p>
                    <p>Sprühverfahren (Reinigung und Desinfektion) mit Hilfe spezieller Adapter für Innenflächen von
                        Medizinprodukten</p>
                </ol>
            </ol>
            <ol>
                <p><strong>Maschinelle Reinigung ohne Desinfektionsstufe</strong></p>
            </ol>
            <ol>
                <p><strong>Thermische Behandlung (Desinfektion) unverpackter Medizinprodukte im
                    Dampfsteilisator</strong></p>
            </ol>
            <ol>
                <p><strong>Sterilisation verpackter Medizinprodukte im Dampfsterilisator</strong></p>
            </ol>
            <ol>
                <p><strong>Reinigung, Pflege, thermische Behandlung (Desinfektion) semikritischer
                    Übertragungsinstrumente in einem Kombinationsgerät</strong></p>
            </ol>
            <ol>
                <p><strong>Reinigung, Pflege und Sterilisation kritischer Übertragungsinstrumente in einem
                    Kombinationsgerät</strong></p>
            </ol>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Sterilisationsverfahren</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Verpackungen</strong></p>
        </td>
        <td>
            <ul>
                <p>heißsiegelfähige Folienschläuche</p>
            </ul>
        </td>
        <td>
            <p>Verpackung:</p>
            <p style="color: #0070c0">Folienschlauch von Henry Schein</p>
            <p style="color: #0070c0">300 mm</p>
            <p style="color: #0070c0">100 mm</p>
            <p style="color: #0070c0">75 mm</p>
            <p style="color: #0070c0">64 x 200 mm</p>
            <p style="color: #0070c0">Siegelgerät: MELA Seal Pro</p>
        </td>
        <td>
            <ul>
                <p>Signalnaht mindestens 8 mm</p>
            </ul>
        </td>
        <td rowspan="3">
            <p>alle Beschäftigten, die mit der Aufbereitung von Medizinprodukten betraut sind</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Kennzeichnung</strong></p>
        </td>
        <td>
            <ul>
                <p>Verfalldatum</p>
            </ul>
            <p>+ Inhalt (sofern nicht erkennbar)</p>
            <p>+ Sterilisationsverfahren, wenn mehrere Geräte betrieben werden</p>
        </td>
        <td>
            <p>Dokumentation:</p>
            <p style="color: #0070c0">DOCma</p>
            <p style="color: #0070c0">Dios Net Printer III</p>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Beladung</strong></p>
        </td>
        <td>
            <p>+ Weichverpackungen</p>
            <p>+ Metallbehälter und unverpackte Instrumente z.B. auf Siebschalen unten</p>
        </td>
        <td>
            <p>Siebschalen</p>
        </td>
        <td>
            <p>Hinweise des Sterilisatorherstellers zur Beladung sind unbedingt einzuhalten (z.B.
                Beladungskonfigurationen)</p>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Unkritische Medizinprodukte (maschinelle Verfahren)</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            <p><strong>z.B. extraorale Teile des Gesichtsbogens, Schieblehre</strong></p>
            <p>Als Standardverfahren ist eine Desinfektion im Sprüh- / Wischverfahren (Verfahren 2.2) ausreichend.</p>
        </td>
        <td>
            <p><strong>Verfahren 1.1:</strong></p>
            <p>Validiertes Verfahren im RDG</p>
        </td>
        <td>
            <p>Gerät:</p>
            <p style="color: #0070c0">MIELE Professional GG05</p>
            <p>Programm:</p>
            <p style="color: #0070c0">Vario TD Dental</p>
            <p>Temperatur:</p>
            <p>Vorspülen: kalt</p>
            <p>Reinigen: 40°C</p>
            <p>Neutralisierung</p>
            <p>kalt spülen</p>
            <p>Desinfektion: 93°C</p>
        </td>
        <td>
            <ul>
                <p>Nach jeder Verwendung am Patienten</p>
            </ul>
            <ul>
                <p>ggf. weitergehende Vorbereitung (z.B. Zerlegen)</p>
            </ul>
            <ul>
                <p>nach Programmende Kontrolle auf Rückstände, Funktionsprüfung</p>
            </ul>
            <ul>
                <p>ggf. Nachreinigung, Trocknung und Pflege</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten , die mit der Aufbereitung im Medizinprodukten betraut sind</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Staubgeschützte, trockene Lagerung</p>
        </td>
        <td>
            <p>Schrank, Schublade</p>
        </td>
        <td>
            <p>nach Ende der Aufbereitung</p>
        </td>
        <td>
            <p>alle Beschäftigten, die mit der Aufbereitung von Medizinprodukten betraut sind</p>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Unkritische Medizinprodukte (manuelle Verfahren)</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="3">
            <p><strong>Extraorale Teile des Gesichtsbogens, Schieblehre</strong></p>
            <p>Als Standardverfahren ist eine Desinfektion im Sprüh- / Wischverfahren (Verfahren 2.2) ausreichend.</p>
        </td>
        <td>
            <p><strong>Verfahren 2.1:</strong></p>
            <p>Eintauchverfahren (bei Bedarf in Kombination mit Ultraschall)</p>
        </td>
        <td>
            <p style="color: #0070c0">Kombinationspräparat zur Reinigung und Desinfektion:</p>
            <p style="color: #0070c0">Enzymax Liquid von Hu-Friedy</p>
            <p style="color: #0070c0">Dosierung: 30 ml</p>
            <p>Einwirkzeit: 3 – 5 Min.</p>
            <p>Standzeit der Lösung:</p>
            <p>Wechsel täglich</p>
        </td>
        <td rowspan="2">
            <ul>
                <p>Nach jeder Verwendung am Patienten</p>
            </ul>
            <ul>
                <p>ggf. weitergehende Vorbereitung (z.B. Zerlegen)</p>
            </ul>
            <ul>
                <p>unmittelbar nach der Behandlung vollständig und blasenfrei einlegen</p>
            </ul>
            <ul>
                <p>Einwirkzeit beginnt nach Einlegen des letzten Medizinprodukts</p>
            </ul>
            <ul>
                <p>nach Ende der Einwirkzeit unter fließendem Wasser abspülen (Siebeinsatz)</p>
            </ul>
            <ul>
                <p>Kontrolle auf Rückstände, Funktionsprüfung</p>
            </ul>
            <ul>
                <p>ggf. Nachreinigung, erneute Desinfektion, Trocknung</p>
            </ul>
            <ul>
                <p>Trocknung und Pflege</p>
            </ul>
        </td>
        <td rowspan="3">
            <p>alle Beschäftigten , die mit der Aufbereitung im Medizinprodukten betraut sind</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>oder</strong></p>
            <p><strong>Verfahren 2.2:</strong></p>
            <p>Sprüh- / Wischverfahren für Außenflächen von Medizinprodukten</p>
        </td>
        <td>
            <p>Flächendesinfektionsmittel:</p>
            <p style="color: #0070c0">FD 350</p>
            <p style="color: #0070c0">Desinfektionstücher von Dürr Dental</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Staubgeschützte, trockene Lagerung</p>
        </td>
        <td>
            <p>Schrank, Schublade</p>
        </td>
        <td>
            <p>nach Ende der Aufbereitung</p>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Medizinprodukte semikritisch A (maschinelle Verfahren)</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="3">
            <p><strong>Instrumente und Hilfsmittel für allgemeine, präventive, restaurative oder kieferorthopädische
                (nichtinvasive) Maßnahmen</strong></p>
        </td>
        <td>
            <p><strong>Verfahren 1.1:</strong></p>
            <p>Validiertes Verfahren im RDG</p>
        </td>
        <td>
            <p>Gerät:</p>
            <p style="color: #0070c0">Miele Professional GG05</p>
            <p style="color: #0070c0">Programm: Vario TD Dental</p>
        </td>
        <td>
            <ul>
                <p>nach jeder Verwendung am Patienten</p>
            </ul>
            <ul>
                <p>bei Bedarf nicht fixierende Vorreinigung (z.B. Zementreste mit Zellstofftupfer entfernen)</p>
            </ul>
            <ul>
                <p>ggf. weitergehende Vorbereitung (z.B. Zerlegen)</p>
            </ul>
            <ul>
                <p>nach Programmende auf Rückstände kontrollieren, ggf. nachreinigen und trocknen</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten , die mit der Aufbereitung von Medizinprodukten betraut sind.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Freigabe zur erneuten Anwendung</p>
        </td>
        <td>
            <p>Dokumentation:</p>
            <p style="color: #0070c0">DOCma</p>
        </td>
        <td>
            <ul>
                <p>wurden bei der Aufbereitung Abweichungen vom korrekten Prozessablauf festgestellt, ist die
                    Aufbereitung nach Beheben des Fehlers zu wiederholen</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten mit Freigabe-berechtigung</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>staubgeschützte trockene Lagerung</p>
        </td>
        <td>
            <p>Schrank, Schublade</p>
        </td>
        <td>
            <ul>
                <p>nach Ende der Aufbereitung</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten , die mit der Aufbereitung von Medizinprodukten betraut sind</p>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Medizinprodukte semikritisch A (manuelle Verfahren)</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Abnehmbare Teile von Geräten ohne Austritt von Flüssigkeiten und/oder Luft oder Partikeln (wenn
                vom Hersteller zugelassen)</strong></p>
            <p>(CAD-CAM-Gerät, Gerät zur Kariesdiagnostik, intraorale Kamera, Polymerisationslampen, Röntgensensor,
                Speicherfolie u.a.)</p>
        </td>
        <td>
            <p><strong>Verfahren 2.2:</strong></p>
            <p>Sprüh-/Wischverfahren für Außenflächen</p>
            <p><strong>anschließend</strong></p>
            <p><strong>Verfahren 4:</strong></p>
            <p>thermische Behandlung (Desinfektion) unverpackt im Dampfsterilisator</p>
        </td>
        <td>
            <p>Flächendesinfektionsmittel mit kurzer Einwirkzeit (z.B. alkoholisches Präparat):</p>
            <p style="color: #0070c0">FD 350</p>
            <p style="color: #0070c0">Desinfektionstücher von Dürr Dental</p>
            <p>Gerät :</p>
            <p style="color: #0070c0">Melag Vacuklav 24 und</p>
            <p style="color: #0070c0">Melag Vacuklav 24-B</p>
            <p style="color: #0070c0">Programm:</p>
            <p style="color: #0070c0">Universal 134°C unverpackt</p>
        </td>
        <td rowspan="2">
            <ul>
                <p>nach jeder Verwendung am Patienten und geeigneter Vorbereitung (z.B. Zerlegen)</p>
            </ul>
            <ul>
                <p>bei Bedarf nicht fixierende Vorreinigung</p>
            </ul>
        </td>
        <td rowspan="2">
            <p>alle Beschäftigten , die mit der Aufbereitung von Medizinprodukten betraut sind.</p>
        </td>
    </tr>
    <tr>
        <td rowspan="3">
            <p><strong>Hauptgerät und abnehmbare Geräteteile, für die eine Behandlung im RDG oder Sterilisator vom
                Hersteller nicht freigegeben wurde</strong></p>
        </td>
        <td>
            <p><strong>Verfahren 2.2:</strong></p>
            <p>Sprüh-/Wischverfahren für Außenflächen</p>
        </td>
        <td>
            <p>Flächendesinfektionsmittel mit kurzer Einwirkzeit (z.B. alkoholisches Präparat):</p>
            <p style="color: #0070c0">FD 350</p>
            <p style="color: #0070c0">Desinfektionstücher von Dürr Dental</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Freigabe zur erneuten Anwendung</p>
        </td>
        <td>
            <p>Dokumentation:</p>
            <p style="color: #0070c0">DOCma</p>
        </td>
        <td>
            <ul>
                <p>wurden bei der Aufbereitung Abweichungen vom korrekten Prozessablauf festgestellt, ist die
                    Aufbereitung nach Beheben des Fehlers zu wiederholen</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten mit Freigabe-berechtigung</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>staubgeschützte trockene Lagerung</p>
        </td>
        <td>
            <p>Schrank, Schublade</p>
        </td>
        <td>
            <ul>
                <p>nach Ende der Aufbereitung</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten , die mit der Aufbereitung von Medizinprodukten betraut sind</p>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Medizinprodukte semikritisch B (manuelle Verfahren)</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="3">
            <p><strong>Rotierende oder oszillierende Instrumente für allgemeine, präventive, restaurative oder
                kieferorthopädische (nichtinvasive) Maßnahmen</strong></p>
            <p>z.B. Bohrer, Fräser, Schleifer, Polierer, Finierer, Bürsten, Kelche, Feilen, Ultraschallarbeitsteile</p>
            <p><strong>wegen besonderer Schwierigkeiten bei der Aufbereitung sollte bei einer möglichen Kontamination
                mit Blut (z.B. Prophylaxe-Behandlung) ggf. auf eine Wiederverwendung von Bürsten und Kelchen verzichtet
                werden</strong></p>
        </td>
        <td>
            <p><strong>Verfahren 2.1:</strong></p>
            <p>Eintauchverfahren (bei Bedarf in Kombination mit Ultraschall)</p>
            <p><strong>anschließend</strong></p>
            <p><strong>Verfahren 4:</strong></p>
            <p>thermische Behandlung (Desinfektion) unverpackt im Dampfsterilisator z.B. in Ständern oder Schalen</p>
        </td>
        <td>
            <p>Kombinationspräparat zur Reinigung und Desinfektion:</p>
            <p style="color: #0070c0">Enymax Liquid von Hu-Friedy</p>
            <p style="color: #0070c0">Dosierung : 30 ml</p>
            <p style="color: #0070c0">Einwirkzeit: 3 – 5 Min.</p>
            <p>Maximale Standzeit der Lösung:</p>
            <p>Wechsel täglich</p>
            <p>Gerät:</p>
            <p style="color: #0070c0">Melag Vacuklav 24 und</p>
            <p style="color: #0070c0">Melag Vacuklav 24-B</p>
            <p>Programm:</p>
            <p>Universal 134°C verpackt</p>
            <p style="color: #0070c0">und Schnellprogramm 134°C unverpackt</p>
        </td>
        <td>
            <ul>
                <p>nach jeder Verwendung am Patienten</p>
            </ul>
            <ul>
                <p>ggf. weitergehende Vorbereitung (z.B. Zerlegen)</p>
            </ul>
            <ul>
                <p>unmittelbar nach der Behandlung vollständig und blasenfrei einlegen</p>
            </ul>
            <ul>
                <p>Einwirkzeit beginnt nach dem Einlegen des letzten Medizinproduktes</p>
            </ul>
            <ul>
                <p>nach Ende der Einwirkzeit unter fließendem Wasser abspülen (Siebeinsatz)</p>
            </ul>
            <ul>
                <p>Kontrolle auf Rückstände und Funktionsprüfung</p>
            </ul>
            <ul>
                <p>ggf. Nachreinigung, erneute Desinfektion, Trocknung</p>
            </ul>
            <ul>
                <p>Trocknung und Pflege</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten , die mit der Aufbereitung von Medizinprodukten betraut sind.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Freigabe zur erneuten Anwendung</p>
        </td>
        <td>
            <p>Dokumentation:</p>
            <p style="color: #0070c0">DOCma</p>
        </td>
        <td>
            <ul>
                <p>wurden bei der Aufbereitung Abweichungen vom korrekten Prozessablauf festgestellt, ist die
                    Aufbereitung nach Beheben des Fehlers zu wiederholen</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten mit Freigabe-berechtigung</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>staubgeschützte trockene Lagerung</p>
        </td>
        <td>
            <p>Schrank, Schublade</p>
        </td>
        <td>
            <ul>
                <p>nach Ende der Aufbereitung</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten , die mit der Aufbereitung von Medizinprodukten betraut sind</p>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Medizinprodukte semikritisch B (maschinelle Verfahren)</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="3">
            <p><strong>Übertragungsinstrumente für allgemeine, restaurative oder kieferorthopädische Behandlung</strong>
            </p>
            <p>(Hand- und Winkelstücke, Turbinen)</p>
        </td>
        <td>
            <p><strong>Verfahren 6:</strong></p>
            <p>Reinigung, Pflege, thermische Behandlung (Desinfektion) in einem Kombinationsgerät (unverpackt)</p>
        </td>
        <td>
            <p>Außenreinigung:</p>
            <p style="color: #0070c0">FD 350 Desinfektionstücher von Dürr Dental</p>
            <p>Gerät / Programm:</p>
            <p>DAC Universal von Sirona,</p>
            <p>134°C</p>
        </td>
        <td>
            <ul>
                <p>nach jeder Verwendung am Patienten und geeigneter Vorbereitung (z.B. Zerlegen)</p>
            </ul>
            <ul>
                <p>bei Bedarf nicht fixierende Vorreinigung</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten , die mit der Aufbereitung von Medizinprodukten betraut sind.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Freigabe zur erneuten Anwendung</p>
        </td>
        <td>
            <p>Dokumentation:</p>
            <p style="color: #0070c0">DOCma</p>
        </td>
        <td>
            <ul>
                <p>wurden bei der Aufbereitung Abweichungen vom korrekten Prozessablauf festgestellt, ist die
                    Aufbereitung nach Beheben des Fehlers zu wiederholen</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten mit Freigabe-berechtigung</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>staubgeschützte trockene Lagerung</p>
        </td>
        <td>
            <p>Schrank, Schublade</p>
        </td>
        <td>
            <ul>
                <p>nach Ende der Aufbereitung</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten , die mit der Aufbereitung von Medizinprodukten betraut sind</p>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Medizinprodukte semikritisch B (manuelle Verfahren)</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            <p><strong>Geräte mit Austritt von Flüssigkeiten und / oder Luft oder Partikeln</strong></p>
            <p>z.B. Mehrfunktionsspritze,</p>
            <p>Pulverstrahlgerät,</p>
            <p>Zahnsteinentfernungsgerät u.a.</p>
            <p><strong>Abnehmbare Geräteteile:</strong></p>
            <p><strong>Aufbereitung nach Herstellerangaben</strong> (Wenn eine Eintauchdesinfektion möglich ist)</p>
        </td>
        <td>
            <p><strong>Verfahren 2.1:</strong></p>
            <p>Eintauchverfahren (Ultraschall)</p>
            <p>Wenn nach Herstellerangaben möglich:</p>
            <p>Verfahren 1.1: Validiertes Verfahren im RDG</p>
        </td>
        <td>
            <p>Kombinationspräparat zur Reinigung und Desinfektion:</p>
            <p style="color: #0070c0">Enzymax Liquid von Hu-Friedy</p>
            <p style="color: #0070c0">Dosierung : 30 ml</p>
            <p style="color: #0070c0">Einwirkzeit: 3 – 5 Min.</p>
            <p>Maximale Standzeit der Lösung:</p>
            <p>Wechsel täglich</p>
            <p>Gerät:</p>
            <p style="color: #0070c0">Miele Professional G7881</p>
            <p style="color: #0070c0">Aufnahme mit Drehverschluss A 814</p>
            <p>Programm:</p>
            <p style="color: #0070c0">Vario TD Dental</p>
        </td>
        <td rowspan="3">
            <ul>
                <p>nach jeder Verwendung am Patienten und geeigneter Vorbereitung (z.B. Zerlegen)</p>
            </ul>
            <ul>
                <p>bei Bedarf nicht fixierende Vorreinigung</p>
            </ul>
        </td>
        <td rowspan="3">
            <p>alle Beschäftigten, die mit der Aufbereitung von Medizinprodukten vertraut sind.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>anschließend</strong></p>
            <p><strong>Verfahren 4:</strong></p>
            <p>thermische Behandlung (Desinfektion) unverpackt im Dampfsterilisator</p>
        </td>
        <td>
            <p>Gerät:</p>
            <p style="color: #0070c0">Melag Vacuklav 24 und</p>
            <p style="color: #0070c0">Melag Vacuklav 24-B</p>
            <p>Programm:</p>
            <p>Universal 134°C verpackt</p>
            <p>und Schnellprogramm 134°C unverpackt</p>
        </td>
    </tr>
    <tr>
        <td rowspan="3">
            <p><strong>Hauptgerät</strong></p>
        </td>
        <td>
            <p><strong>Verfahren 2.2:</strong></p>
            <p>Sprüh-/Wischverfahren für Außenflächen</p>
        </td>
        <td>
            <p>Flächendesinfektionsmittel mit kurzer Einwirkzeit:</p>
            <p>FD 350</p>
            <p style="color: #0070c0">Desinfektionstücher von Dürr Dental</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Freigabe zur erneuten Anwendung</p>
        </td>
        <td>
            <p>Dokumentation:</p>
            <p style="color: #0070c0">DOCma</p>
        </td>
        <td>
            <ul>
                <p>wurden bei der Aufbereitung Abweichungen vom Prozessablauf festgestellt, ist die Aufbereitung nach
                    Behebung des Fehlers zu wiederholen</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten mit Freigabe-berechtigung</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>staubgeschützte trockene Lagerung</p>
        </td>
        <td>
            <p>Schrank, Schublade</p>
        </td>
        <td>
            <ul>
                <p>nach Ende der Aufbereitung</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten , die mit der Aufbereitung von Medizinprodukten betraut sind</p>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Medizinprodukte kritisch A (maschinelle Verfahren)</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="3">
            <p><strong>Instrumente und Hilfsmittel für chirurgische, parodontologische oder endodontische (invasive)
                Maßnahmen</strong></p>
            <p>Extraktionszangen, Hebel, Ansätze und Handstücke für Laser- und Hochfrequenz-Chirurgiegeräte u.a.</p>
            <p>Rotierende oder oszillierende Instrumente (4)</p>
        </td>
        <td>
            <p><strong>Verfahren 1.1:</strong></p>
            <p>Validiertes Verfahren im RDG</p>
            <p><strong>anschließend</strong></p>
            <p><strong>Verfahren 5:</strong></p>
            <p>Sterilisation im Dampfsterilisator (verpackt)</p>
        </td>
        <td>
            <p>Gerät :</p>
            <p style="color: #0070c0">Miele Professional G7881</p>
            <p>Programm:</p>
            <p>Vario TD Dental</p>
            <p>Gerät :</p>
            <p style="color: #0070c0">Melag Vacuklav 24 und</p>
            <p style="color: #0070c0">Melag Vacuklav 24-B</p>
            <p>Programm:</p>
            <p>Universal 134°C verpackt</p>
            <p>und Schnellprogramm 134°C unverpackt</p>
        </td>
        <td>
            <ul>
                <p>nach jeder Verwendung am Patienten</p>
            </ul>
            <ul>
                <p>bei Bedarf nicht fixierende Vorreinigung (z.B. Zerlegen)</p>
            </ul>
            <p>(Anweisungen zum Sterilisationsverfahren sind dem Hygieneplan vorangestellt)</p>
        </td>
        <td>
            <p>alle Beschäftigten , die mit der Aufbereitung von Medizinprodukten betraut sind.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Freigabe zur erneuten Anwendung</p>
        </td>
        <td>
            <p>Dokumentation:</p>
            <p style="color: #0070c0">DOCma</p>
        </td>
        <td>
            <ul>
                <p>wurden bei der Aufbereitung Abweichungen vom korrekten Prozessablauf festgestellt, ist die
                    Aufbereitung nach Beheben des Fehlers zu wiederholen</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten mit Freigabe-berechtigung</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>staubgeschützte trockene Lagerung</p>
        </td>
        <td>
            <p>Schrank, Schublade</p>
        </td>
        <td>
            <ul>
                <p>nach Ende der Aufbereitung</p>
            </ul>
            <p>maximale Lagerfrist für Containerverpackung oder Klarsichtsterilgut-verpackung:</p>
            <p>6 Monate</p>
        </td>
        <td>
            <p>alle Beschäftigten , die mit der Aufbereitung von Medizinprodukten betraut sind</p>
        </td>
    </tr>
    </tbody>
</table>


<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Medizinprodukte kritisch B (maschinelle Verfahren)</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="3">
            <p><strong>Rotierende oder oszillierende Instrumente für chirurgische, parodontologische oder endodontische
                (invasive) Maßnahmen</strong></p>
        </td>
        <td>
            <p><strong>Verfahren 1.1:</strong></p>
            <p>Validiertes Verfahren im RDG</p>
            <p><strong>anschließend</strong></p>
            <p><strong>Verfahren 5:</strong></p>
            <p>Sterilisation im Dampfsterilisator (verpackt)</p>
        </td>
        <td>
            <p>Gerät:</p>
            <p style="color: #0070c0">Miele Professional G7881</p>
            <p>Programm:</p>
            <p style="color: #0070c0">Vario TD Dental</p>
            <p>Gerät:</p>
            <p style="color: #0070c0">Melag Vacuklav 24 und</p>
            <p style="color: #0070c0">Melag Vacuklav 24-B</p>
            <p>Programm:</p>
            <p>Universal 134°C verpackt</p>
            <p>und Schnellprogramm 134°C unverpackt</p>
        </td>
        <td>
            <ul>
                <p>nach jeder Verwendung am Patienten</p>
            </ul>
            <ul>
                <p>bei Bedarf nicht fixierende Vorreinigung (z.B. Zementreste mit Zellstofftupfer entfernen)</p>
            </ul>
            <ul>
                <p>ggf. weitergehende Vorbereitung (z.B. zerlegen)</p>
            </ul>
            <p>(Anweisungen zum Sterilisationsverfahren sind dem Hygieneplan vorangestellt)</p>
        </td>
        <td>
            <p>Zahnmedizinische Fachangestellte, Zahnarzthelferin, stomatologische Schwester oder andere Personen mit
                abgeschlossener Ausbildung</p>
            <p>(ohne Nachweis einer Ausbildung zur Zahnarzthelferin bzw. zur Zahnmedizinischen Fachangestellten oder zur
                stomatologischen Schwester ist eine fachspezifische Fortbildung in Anlehnung an den Lehrgang Fachkunde I
                gemäß den Richtlinien der DGSV erforderlich)</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Freigabe zur erneuten Anwendung</p>
        </td>
        <td>
            <p>Dokumentation:</p>
            <p style="color: #0070c0">DOCma</p>
        </td>
        <td>
            <ul>
                <p>wurden bei der Aufbereitung Abweichungen vom korrekten Prozessablauf festgestellt, ist die
                    Aufbereitung nach Beheben des Fehlers zu wiederholen</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten mit Freigabeberechtigung, die die o.a. Bedingungen erfüllen</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>staubgeschützte trockene Lagerung</p>
        </td>
        <td>
            <p>Schrank, Schublade</p>
        </td>
        <td>
            <ul>
                <p>nach Ende der Aufbereitung</p>
            </ul>
            <p>maximale Lagerfrist für Containerverpackung oder Klarsichtsterilgut-verpackung:</p>
            <p>6 Monate</p>
        </td>
        <td>
            <p>alle Beschäftigten , die mit der Aufbereitung von Medizinprodukten betraut sind</p>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Medizinprodukte kritisch B (maschinelle Verfahren)</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="3">
            <p><strong>Übertragungsinstrumente für chirurgische, parodontologische oder endodontische (invasive)
                Behandlung</strong></p>
            <p>Hand- und Winkelstücke, Schallhandstücke für Knochenchirurgie u.a.)</p>
        </td>
        <td>
            <p><strong>Verfahren 7:</strong></p>
            <p>Reinigung, Pflege und Sterilisation verpackter Übertragungsinstrumente in einem Kombinationsgerät</p>
        </td>
        <td>
            <p>Außenreinigung:</p>
            <p style="color: #0070c0">FD 350 Desinfektionstücher von Dürr Dental</p>
            <p>Gerät / Programm:</p>
            <p style="color: #0070c0">DAG Universal von Sirona,</p>
            <p style="color: #0070c0">134°C</p>
        </td>
        <td>
            <ul>
                <p>nach jeder Verwendung am Patienten und geeigneter Vorbereitung (z.B. Zerlegen)</p>
            </ul>
            <ul>
                <p>bei Bedarf nicht fixierende Vorreinigung</p>
            </ul>
            <ul>
                <p>Reinigung und Pflege (Ölung) der Innenteile vor der Sterilisation nach Herstellerangaben</p>
            </ul>
            <p>(Anweisungen zum Sterilisationsverfahren sind dem Hygieneplan vorangestellt)</p>
        </td>
        <td>
            <p>Zahnmedizinische Fachangestellte, Zahnarzthelferin, stomatologische Schwester oder andere Personen mit
                abgeschlossener Ausbildung</p>
            <p>(ohne Nachweis einer Ausbildung zur Zahnarzthelferin bzw. zur Zahnmedizinischen Fachangestellten oder zur
                stomatologischen Schwester ist eine fachspezifische Fortbildung in Anlehnung an den Lehrgang Fachkunde I
                gemäß den Richtlinien der DGSV erforderlich)</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Freigabe zur erneuten Anwendung</p>
        </td>
        <td>
            <p>Dokumentation:</p>
            <p style="color: #0070c0">DOCma</p>
        </td>
        <td>
            <ul>
                <p>wurden bei der Aufbereitung Abweichungen vom korrekten Prozessablauf festgestellt, ist die
                    Aufbereitung nach Beheben des Fehlers zu wiederholen</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten mit Freigabeberechtigung, die die o.a. Bedingungen erfüllen</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>staubgeschützte trockene Lagerung</p>
        </td>
        <td>
            <p>Schrank, Schublade</p>
        </td>
        <td>
            <ul>
                <p>nach Ende der Aufbereitung</p>
            </ul>
        </td>
        <td>
            <p>alle Beschäftigten , die mit der Aufbereitung von Medizinprodukten betraut sind</p>
        </td>
    </tr>
    </tbody>
</table>


<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Flächen und Einrichtungsgegenstände</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>z.B. patientennahe Oberflächen,</strong> die durch Aerosol oder Kontakt mit Händen, Instrumenten,
                Gegenständen oder Substanzen kontaminiert wurden und nicht thermisch oder durch Eintauchverfahren
                desinfizierbar sind z.B. Leuchtengriff, Schränke, Patientenstuhl, Geräte</p>
        </td>
        <td>
            <p>Reinigung und Desinfektion durch Wischen mit getränktem Tuch</p>
            <p>die Sprühdesinfektion ist auf schwierig zu desinfizierende Flächen zu beschränken, die durch
                Wischdesinfektion nicht erreichbar sind</p>
        </td>
        <td>
            <p>Flächendesinfektionsmittel mit kurzer Einwirkzeit:</p>
            <p style="color: #0070c0">FD 350 Desinfektionstücher von Dürr Dental</p>
            <p>Einwirkzeit:</p>
            <p>15 Sek.</p>
        </td>
        <td>
            <ul>
                <p>nach jeder Behandlung</p>
                <p>bei sichtbarer Verschmutzung sofort</p>
            </ul>
        </td>
        <td rowspan="3">
            <p>alle Beschäftigten</p>
            <p>im Untersuchungs-, Behandlungs- und Wartungsbereich</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>z.B. Flächen und Gegenstände die sichtbar mit Blut oder Sekreten kontaminiert wurden</strong>
                (einschließlich betroffene Fußbodenbereiche)</p>
        </td>
        <td>
            <p>Aufnahme der Verschmutzung mit desinfektionsmittel-getränktem Einmaltuch, danach Wischdesinfektion</p>
        </td>
        <td>
            <p>Flächendesinfektionsmittel mit kurzer Einwirkzeit:</p>
            <p style="color: #0070c0">FD 350 Desinfektionstücher von Dürr Dental</p>
            <p>Einwirkzeit:</p>
            <p>15 Sek.</p>
        </td>
        <td>
            <ul>
                <p>sofort</p>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>z.B. schwierig zu reinigende und zu desinfizierende Flächen und Gegenstände,</strong> die
                kontaminiert werden können, z.B. OP-Mikroskop</p>
        </td>
        <td>
            <p>Barrieremaßnahmen:</p>
            <p>Abdecken mit entsprechenden Abdeckmaterialien (i.d.R. sind unsterile Materialien zur Abdeckung
                ausreichend)</p>
        </td>
        <td>
            <p>Abdeckmaterial unsteril:</p>
            <p style="color: #0070c0">Schlauchüberzüge von roeko 100 m x 7,5 mm</p>
            <p>Abdeckmaterial steril:</p>
            <p style="color: #0070c0">Steri-Quick von roeko</p>
            <p style="color: #0070c0">500 mm x 700 mm</p>
        </td>
        <td>
            <ul>
                <p>sterile Abdeckung wenn ein aseptisches Vorgehen erforderlich ist.</p>
            </ul>
            <ul>
                <p>nach der Behandlung Materialien entsorgen bzw. aufbereiten</p>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Fußböden</strong></p>
        </td>
        <td>
            <p>Feuchtreinigung</p>
        </td>
        <td>
            <p>Reinigungsmittel ohne Zusatz von Desinfektionsmittel:</p>
            <p style="color: #0070c0">FD 312 von Dürr Dental</p>
            <p>Einwirkzeit: 15 min.</p>
        </td>
        <td>
            <ul>
                <p>am Ende des Behandlungstages</p>
            </ul>
        </td>
        <td>
            <p>Reinigungspersonal</p>
        </td>
    </tr>
    </tbody>
</table>
<p><br>
    <br></p>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Abformungen, zahntechnische Werkstücke</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            <p><strong>Abformungen</strong></p>
        </td>
        <td>
            <p>Reinigen durch vorsichtiges Abspülen</p>
        </td>
        <td>
            <p>fließendes Leitungswasser</p>
        </td>
        <td>
            <ul>
                <p>unmittelbar nach Entnahme aus dem Mund des Patienten</p>
            </ul>
        </td>
        <td rowspan="4">
            <p>Beschäftigte im Untersuchungs-, Behandlungs- und Wartungsbereich, Beschäftigte im zahntechnischen Labor /
                Praxislabor.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Tauchdesinfektion:</p>
        </td>
        <td>
            <p>geeignetes, unter Blut-/ Speichelbelastung wirksames und werkstoffkompatibles Desinfektionsmittel:</p>
            <p style="color: #0070c0">MD 520 von Dürr Dental</p>
            <p>Dosierung: unverdünnt,</p>
            <p>Einwirkzeit: 5 Min.</p>
        </td>
        <td>
            <ul>
                <p>im Anschluss an das Abspülen</p>
            </ul>
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            <p><strong>Zahntechnische Werkstücke</strong></p>
        </td>
        <td>
            <p>Reinigen durch vorsichtiges Abspülen</p>
        </td>
        <td>
            <p>fließendes Leitungswasser</p>
        </td>
        <td rowspan="2">
            <ul>
                <p>vor Versand an das zahntechnische Labor</p>
            </ul>
            <ul>
                <p>nach Erhalt aus dem zahntechnischen Labor</p>
            </ul>
            <p>.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Tauchdesinfektion (bei getragenem Zahnersatz ggf. in Kombination mit Ultraschall)</p>
        </td>
        <td>
            <p>geeignetes, unter Blut-/ Speichelbelastung wirksames und werkstoffkompatibles Desinfektionsmittel:</p>
            <p style="color: #0070c0">MD 520 von Dürr Dental</p>
            <p>Dosierung: Unverdünnt</p>
            <p>Einwirkzeit: 5 Min.</p>
        </td>
    </tr>
    </tbody>
</table>
<p><br>
    <br></p>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Wasserführende Systeme</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="3">
            <p><strong>Entnahmestellen für Kühl- und Spülwasser</strong></p>
            <p>(Mehrfunktionsspritzen, Kupplungen, Motoren, Instrumentenschläuche, nicht abnehmbare
                Ultraschallhandstücke, Mundglasfüller u.a.)</p>
        </td>
        <td>
            <p><strong>alle</strong> Entnahmestellen ohne Übertragungsinstrumente bzw. abnehmbare Geräteteile 2 Minuten
                spülen</p>
        </td>
        <td>
            <p>Wasser</p>
        </td>
        <td>
            <ul>
                <p>zu Beginn des Behandlungstages</p>
            </ul>
        </td>
        <td rowspan="3">
            <p>alle Beschäftigten im Untersuchungs- und Behandlungs-bereich</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>benutzte</strong> Entnahmestellen 20 Sekunden spülen</p>
        </td>
        <td>
            <p>Wasser</p>
        </td>
        <td>
            <ul>
                <p>nach jedem Patienten</p>
            </ul>
            <ul>
                <p>am Ende des Behandlungstages</p>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>sofern vorhanden:</strong></p>
            <p>Dauerentkeimung / Intensiventkeimung</p>
        </td>
        <td>
            <p>Desinfektionsanlage mit nachgewiesener Wirksamkeit</p>
            <p>Desinfektionsmittel:</p>
            <p style="color: #0070c0">Huwa-San Dent P H2O2</p>
            <p>1,41 %</p>
            <p>täglich vor Arbeitsbeginn</p>
        </td>
        <td>
            <ul>
                <p>Herstellerangaben beachten</p>
            </ul>
            <ul>
                <p>Kontrolle der Betriebsparameter</p>
            </ul>
            <ul>
                <p>Zeitpunkt der Intensiventkeimung:</p>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Externe Spül-/ Kühlsysteme</strong></p>
        </td>
        <td>
            <p>Spülen / Kühlen mit steriler Lösung</p>
        </td>
        <td>
            <p>sterile Lösung:</p>
            <p style="color: #0070c0">NaCl 0,9% 500 ml von Braun Melsungen AG</p>
        </td>
        <td>
            <p>z.B. bei umfangreichen zahnärztlich-chirurgischen / oralchirurgischen Eingriffen mit anschließendem
                speicheldichtem Wundverschluss</p>
            <p>z.B. bei zahnärztlicher Behandlung von Patienten mit erhöhtem Infektionsrisiko</p>
        </td>
        <td>
        </td>
    </tr>
    </tbody>
</table>
<p><br>
    <br></p>
<table>
    <tbody>
    <tr>
        <td colspan="9">
            <p><strong>Absauganlage</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td colspan="3">
            <p><strong>WIE</strong></p>
        </td>
        <td colspan="2">
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td colspan="2">
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="2">
            <p><strong>Innenflächen der Absauganlage einschließlich der Absaugschläuche</strong></p>
        </td>
        <td colspan="3">
            <p>Durchsaugen</p>
        </td>
        <td colspan="2">
            <p>Wasser-Luft-Gemisch, kaltes Wasser (1/2 Liter)</p>
        </td>
        <td>
            <ul>
                <p>möglichst nach jeder Behandlung, bei der abgesaugt wurde (besonders Blut)</p>
            </ul>
        </td>
        <td rowspan="7" colspan="2">
            <p>alle Beschäftigten im Untersuchungs- und Behandlungs-bereich</p>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <p>Reinigen bzw. Desinfizieren:</p>
            <p>Gemisch aus Luft und Reinigungs- bzw. Desinfektionsmitteln langsam durchsaugen</p>
            <p>Desinfektionsmittel in das Mundspülbecken gießen</p>
        </td>
        <td colspan="2">
            <p>geeignetes, unter Blut- / und Speichelbelastung wirksames Reinigungs- bzw. Desinfektionsmittel:</p>
            <p>Am Morgen:</p>
            <p style="color: #0070c0">MD 555 5% von Dürr Dental</p>
            <p>Am Abend:</p>
            <p style="color: #0070c0">Orotol Plus 2 % von Dürr Dental</p>
        </td>
        <td>
            <ul>
                <p>mindestens am Ende des Behandlungstages</p>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Außenflächen von festsitzenden Absaugschläuchen mit Saughandstücken</strong></p>
        </td>
        <td colspan="3">
            <p>Wischdesinfektion (soweit erreichbar), ggf. Sprühdesinfektion</p>
        </td>
        <td colspan="2">
            <p>Flächendesinfektionsmittel mit kurzer Einwirkzeit:</p>
            <p style="color: #0070c0">FD 350</p>
            <p style="color: #0070c0">Desinfektionstücher von Dürr Dental</p>
            <p>Dosierung: unverdünnt</p>
            <p>Einwirkzeit : 15 Sek.</p>
        </td>
        <td>
            <ul>
                <p>nach jedem Patienten</p>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>abnehmbare Absaugschläuche mit Saughandstücken</strong></p>
            <p>(Absaugkanülen werden wie Medizinprodukte semikritisch B oder</p>
            <p>kritisch B aufbereitet)</p>
        </td>
        <td colspan="3">
            <p>Reinigung und Desinfektion</p>
        </td>
        <td colspan="2">
            <p>Reinigungs- und Desinfektionsgerät (RDG):</p>
            <p style="color: #0070c0">Miele Professional G778</p>
            <p>Programm:</p>
            <p style="color: #0070c0">Vario TD Dental</p>
        </td>
        <td>
            <ul>
                <p>nach Bedarf</p>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Mundspülbecken</strong></p>
        </td>
        <td colspan="3">
            <p>Reinigung und Wischdesinfektion außen und innen</p>
        </td>
        <td colspan="2">
            <p>Flächendesinfektionsmittel mit kurzer Einwirkzeit::</p>
            <p>innen:</p>
            <p style="color: #0070c0">MD 550 Dürr Dental</p>
            <p>außen:</p>
            <p style="color: #0070c0">FD 350 Desinfektionstücher von Dürr Dental</p>
            <p>Dosierung / Einwirkzeit:</p>
            <p>innen: unverdünnt</p>
            <p>außen: unverdünnt 15 Sek.</p>
        </td>
        <td>
            <ul>
                <p>nach jedem Patienten</p>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Filter</strong></p>
        </td>
        <td colspan="3">
            <p>Filterwechsel bzw.</p>
            <p>-reinigung nach Herstellerangaben</p>
        </td>
        <td colspan="2">
            <p>Handschuhe benutzen</p>
        </td>
        <td>
            <ul>
                <p>nach Bedarf</p>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Amalgamabscheider</strong></p>
        </td>
        <td colspan="3">
            <p>Wechsel / Entleerung des Auffangbehälters und Entsorgung des Abscheideguts nach Herstellerangaben
                (Entsorgungsnachweis erforderlich)</p>
        </td>
        <td colspan="2">
            <p>Handschuhe benutzen</p>
        </td>
        <td>
            <ul>
                <p>bei Bedarf</p>
            </ul>
        </td>
    </tr>
    <tr>
        <td colspan="9">
            <p><strong>Praxiswäsche</strong></p>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td colspan="2">
            <p><strong>WOMIT</strong></p>
        </td>
        <td colspan="3">
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="3" colspan="2">
            <p><strong>Textile Praxiskleidung, textile Teile der Schutzausrüstung, Handtücher, Abdecktücher</strong></p>
        </td>
        <td>
            <p>sammeln</p>
        </td>
        <td colspan="2">
            <p>Ausreichend dichte Behälter oder Säcke, getrennt nach Waschprogramm</p>
        </td>
        <td rowspan="3" colspan="3">
            <ul>
                <p>bei sichtbarer Verschmutzung</p>
            </ul>
            <ul>
                <p>textile Teile der Schutzausrüstung, Handtücher, Abdecktücher nach jedem Gebrauch</p>
            </ul>
            <ul>
                <p>textile Praxiskleidung mindestens zweimal wöchentlich, täglicher Wechsel empfehlenswert</p>
            </ul>
        </td>
        <td rowspan="3">
            <p>alle Beschäftigten</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>waschen von Textilien, die für den Kochwaschvorgang geeignet sind</p>
        </td>
        <td colspan="2">
            <p>thermisches Waschverfahren mit handelsüblichem Waschmittel (Kochwaschgang):</p>
            <p style="color: #0070c0">Ariel</p>
            <p>Temperatur: 90°</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>waschen von Textilien, die nicht für den Kochwaschgang geeignet sind</p>
        </td>
        <td colspan="2">
            <p>Chemothermisches Waschverfahren mit mikrobizidem Waschmittel:</p>
            <p style="color: #0070c0">Ariel Formula Pro Plus</p>
            <p>Anwendungskonzentration (g/Liter Flotte): 6 g / Liter Flotte</p>
            <p>Temperatur: 60°C</p>
            <p>Einwirkungsdauer: 20 Min.</p>
            <p>Flottenverhältnis 1 : 5</p>
        </td>
    </tr>
    </tbody>
</table>
<p><br>
    <br></p>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Abfall</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Hausmüllähnliche Abfälle</strong></p>
            <p>z.B. Papier/Pappe, Glas, Kunststoff, Metall, Chemikalien, Altmedikamente, Batterien,
                Leuchtstoffröhren</p>
        </td>
        <td>
            <p>sammeln entsprechend den kommunalen oder anderen Bestimmungen, getrennt nach Abfallarten</p>
        </td>
        <td>
            <p>Entsorgung mit dem normalen Siedlungsabfall, verwertbare Fraktionen in Wertstofftonnen oder Abgabe an
                Recyclingbetriebe</p>
        </td>
        <td>
            <ul>
                <p>nach Abfallaufkommen</p>
            </ul>
        </td>
        <td rowspan="4">
            <p>alle Beschäftigten, Reinigungspersonal</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Abfälle aus Untersuchungs- und Behandlungsräumen</strong></p>
            <p>Spitze, scharfe oder zerbrechliche Gegenstände (sharps)</p>
        </td>
        <td>
            <p>sammeln in durchstich- und bruchsicheren sowie feuchtigkeitsbeständigen Behältnissen</p>
        </td>
        <td>
            <p>Entsorgung sicher umschlossen in Behältnissen mit dem Hausmüll:</p>
            <p style="color: #0070c0">Medibox 5L von Braun</p>
        </td>
        <td>
            <ul>
                <p>nach Abfallaufkommen</p>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p>mit Blut oder Sekreten kontaminierte Abfälle, auch extrahierte Zähne und trockene (nicht tropfende)
                Abfälle aus Einzelfallbehandlungen entsprechend erkrankter Patienten (HIV, HBV)</p>
        </td>
        <td>
            <p>sammeln in feuchtigkeitsbeständigen Abfallsäcken im Abfalleimer</p>
        </td>
        <td>
            <p>Entsorgung sicher umschlossen mit dem Hausmüll</p>
        </td>
        <td>
            <ul>
                <p>nach Abfallaufkommen</p>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Quecksilberhaltige Abfälle, Abscheidegut</strong></p>
            <p>auch extrahierte Zähne mit Amalgamfüllungen</p>
        </td>
        <td>
            <p>sammeln in dicht verschließbaren Behältnissen</p>
        </td>
        <td>
            <p>Abgabe der Behältnisse gegen Entsorgungsnachweis an Recyclingbetrieb</p>
        </td>
        <td>
            <ul>
                <p>nach Abfallaufkommen</p>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<p><br>
    <br></p>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Mundhöhlenantiseptik</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Mundschleimhäute</strong></p>
        </td>
        <td>
            <p>präparatgetränkte Tupfer oder Besprühen bzw. Spülen der Mundhöhle zur vorübergehenden Keimreduzierung in
                der Mundhöhle</p>
        </td>
        <td>
            <p>Präparat: CHX</p>
            <p>Dosierung: 0,2%</p>
            <p>Einwirkzeit: 1 Min.</p>
        </td>
        <td>
            <p>zu empfehlen:</p>
            <ul>
                <p>vor Behandlung von Patienten mit erhöhtem Infektionsrisiko</p>
            </ul>
            <ul>
                <p>vor umfangreichen chirurgischen Eingriffen mit nachfolgendem speicheldichtem Wundverschluss</p>
            </ul>
            <ul>
                <p>als ergänzende Maßnahme bei fehlender mechanischer Zahnreinigung (Kieferimmobilisation, Patienten mit
                    Handicap, hohes Alter)</p>
            </ul>
            <p>Bei Eingriffen / Behandlungen über 30 Minuten Dauer sind die antiseptischen Maßnahmen zu wiederholen</p>
        </td>
        <td>
            <p>Patienten vor Behandlung bzw. Eingriff</p>
        </td>
    </tr>
    </tbody>
</table>
<p><br>
    <br></p>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Antibiotikaprophylaxe</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Patienten mit Endokarditisrisiko</strong></p>
        </td>
        <td>
            <p>Orale Einnahme eines Antibiotikums als Einzeldosis 30 – 60 Minuten vor jedem Eingriff, bei dem das Risiko
                einer Bakteriämie besteht</p>
        </td>
        <td>
            <p>Medikament:</p>
            <p>Amoxicillin</p>
            <p>Dosierung:</p>
            <p>2 x 1000 mg one shot 1 h vor dem Eingriff</p>
            <p>Ersatzmedikament (z.B. bei Penicillinallergie)::</p>
            <p>Clindamycin 600 mg</p>
        </td>
        <td>
            <p>zu empfehlen nach Rücksprache mit dem behandelnden Arzt z.B. bei:</p>
            <ul>
                <p>Patienten mit Herzklappenersatz</p>
            </ul>
            <ul>
                <p>Patienten mit überstandener Endokarditis</p>
            </ul>
            <ul>
                <p>Patienten mit bestimmten angeborenen Herzfehlern</p>
            </ul>
            <ul>
                <p>nach bestimmten operativen Eingriffen am Herzen innerhalb der ersten sechs Monate</p>
            </ul>
        </td>
        <td rowspan="3">
            <p>Patienten</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Patienten mit Endoprothesen am Gelenkersatz</strong></p>
        </td>
        <td>
            <p>orale Einnahme eines Antibiotikums als Einzeldosis 30 – 60 Minuten vor jedem Eingriff, bei dem ein hohes
                Risiko an Bakteriämie besteht</p>
        </td>
        <td>
            <p>Medikament:</p>
            <p>Amoxicillin</p>
            <p>Dosierung:</p>
            <p>2x 1000 mg one shot 1H vor dem Eingriff</p>
            <p>Ersatzmedikament (z.B. bei Penicillinallergie)::</p>
            <p>Clindamycin 600 mg</p>
        </td>
        <td>
            <p>zu empfehlen nach Rücksprache mit dem behandelnden Arzt z.B. in der ersten Phase nach Implantation einer
                Endoprothese, bei vorausgegangener Infektion eines künstlichen Gelenks, bei bestimmten
                Allgemeinerkrankungen:</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Patienten ohne Systemerkrankungen zur Vermeidung postoperativer Wundinfektion</strong></p>
        </td>
        <td>
            <p>orale Einnahme eines Antibiotikums als Einzeldosis 30 – 60 Minuten vor jedem Eingriff, bei dem ein hohes
                Risiko an Bakteriämie besteht</p>
        </td>
        <td>
            <p>Medikament:</p>
            <p>Amoxicillin</p>
            <p>Dosierung:</p>
            <p>2x 1000 mg one shot 1 h vor dem Eingriff</p>
            <p>Ersatzmedikament (z.B. bei Penicillinallergie)::</p>
            <p>Clindamycin 600 mg</p>
        </td>
        <td>
        </td>
    </tr>
    </tbody>
</table>
<p><br>
    <br></p>
<table>
    <tbody>
    <tr>
        <td colspan="5">
            <p><strong>Postexpositionsprophylaxe</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>WAS</strong></p>
        </td>
        <td>
            <p><strong>WIE</strong></p>
        </td>
        <td>
            <p><strong>WOMIT</strong></p>
        </td>
        <td>
            <p><strong>ANWEISUNGEN</strong></p>
        </td>
        <td>
            <p><strong>WER</strong></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Stich- und Schnittverletzungen</strong></p>
        </td>
        <td>
            <p>1 – 2 Minuten bluten lassen</p>
            <p><strong>danach</strong></p>
            <p>Antiseptisch spülen</p>
        </td>
        <td>
            <p>Tupfer getränkt mit virusinaktivierendem Antiseptikum (Hände- oder Hautdesinfektionsmittel)</p>
            <p>Präparat:</p>
            <p style="color: #0070c0">HD 410 Dürr Dental</p>
        </td>
        <td>
            <p>sofort</p>
            <p>Falls erforderlich:</p>
            <p>Weiterbehandlung durch einen Arzt</p>
        </td>
        <td>
            <p>der/die Betroffene</p>
            <p>uU mit dem Patienten</p>
            <p>ggf. mit Ersthelfer</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Kontamination des Auges</strong></p>
        </td>
        <td>
            <p>reichliches Ausspülen</p>
        </td>
        <td>
            <p>Wasser</p>
        </td>
        <td>
            <p>sofort</p>
            <p>Möglichst Augenspülflasche verwenden</p>
        </td>
        <td>
            <p>der/die Betroffene</p>
            <p>ggf. mit Ersthelfer</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Aufnahme in die Mundhöhle</strong></p>
        </td>
        <td>
            <p>Möglichst vollständiges Ausspucken des aufgenommenen Materials</p>
            <p><strong>danach</strong></p>
            <p>4 – 5-maliges Ausspülen</p>
            <p><strong>anschließend</strong></p>
            <p>4 – 5-maliges antiseptisches Spülen</p>
        </td>
        <td>
            <p>Leitungswasser</p>
            <p>Mundhöhlenantiseptikum (z.B. Chlorhexidin, Octenidin):</p>
            <p>Präparat: CHX 0,2%</p>
        </td>
        <td>
            <p>sofort</p>
        </td>
        <td>
            <p>der/die Betroffene</p>
            <p>ggf. mit Ersthelfer</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Kontamination unverletzter Haut</strong></p>
        </td>
        <td>
            <p>Entfernen des potentiell infektiösen Materials</p>
            <p><strong>danach</strong></p>
            <p>großflächige Hautdesinfektion</p>
        </td>
        <td>
            <p>Einmaltuch getränkt mit einem alkoholischen Hände- oder Hautdesinfektionsmittel</p>
            <p>Präparat:</p>
            <p style="color: #0070c0">HD 410 Dürr Dental</p>
        </td>
        <td>
            <p>Hautareal mindestens 1 Minute benetzt halten</p>
        </td>
        <td>
            <p>der/die Betroffene</p>
            <p>ggf. mit Ersthelfer</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Übertragung durch Blutkontakte</strong> bei Behandlung von Patienten mit vermuteter Hepatitis-
                oder HIV-Infektion</p>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
            <p>Unverzüglich (innerhalb von 2 Stunden)</p>
            <p>Facharzt oder Notfallambulanz einer Klinik, die eine systemische Postexpositionsprophylaxe durchführen
                kann</p>
        </td>
        <td>
            <p>der/die Betroffene</p>
            <p>wenn möglich mit dem Patienten</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Dokumentation im Verbandbuch</strong></p>
        </td>
        <td>
            <p>Nach Vorgabe des Verbandbuchs</p>
        </td>
        <td>
        </td>
        <td>
            <p>Unverzüglich</p>
        </td>
        <td>
            <p>der/die Betroffene,</p>
            <p>Ersthelfer, Praxisinhaber</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Meldung an die Berufsgenossenschaft</strong></p>
        </td>
        <td>
        </td>
        <td>
            <p>Schriftlich</p>
        </td>
        <td>
            <p>Bei Arbeitsunfähigkeit von mehr als Tagen</p>
        </td>
        <td>
            <p>Arbeitgeber</p>
        </td>
    </tr>
    </tbody>
</table>
