<html>
<head>
    <meta charset="UTF-8">
    <title>Organigramm</title>
    <link rel="stylesheet" type="text/css" href="/typo3conf/ext/artif_eqhm/Resources/Public/Css/DocumentTemplates/pdfDoc.css"/>
</head>
<body>
<div class="QMHandbuch">
    <div class="container">
        <div class="row">
            <div class="box w100 text-center">
                <h1 class="doc-name">QM- Handbuch</h1>
                <h4>der</h4>
                <h2 class="practice-name">Zahnärztlichen Praxis</h2>
                <h2 class="practice-name">{practice.name}</h2>
            </div>
        </div>
        <div class="row">
            <div class="box w47">
                Stand: {practice.tstamp -> f:format.date(format: 'd. m. Y')}
            </div>
            <div class="box w47 align-right">
                verantwortlicher Zahnarzt vZA:<br/>
                <f:if condition="{practice.signatures.0.signatureImage}">
                    <f:then><img src="{practice.signatures.0.signatureImage.originalResource.publicUrl}" width="100"/></f:then>
                    <f:else>{practice.signatures.0.SignatureName}</f:else>
                </f:if>
            </div>
        </div>
    </div>
</div>
</body>
</html>