<label for="name">
	<f:translate key="tx_artifeqhm_domain_model_document.name"/>
</label><br/>
<p>
	<span>Vorlagen-Version</span>
	<f:form.textfield property="changedName" value="{documentCloneOf.name}" additionalAttributes="{readonly: 1}" />
</p>
<p>
	<span>Ihre Version</span>
	<f:form.textfield property="name"/>
</p>
<br/>


<label for="documentFiles.{documentFile.uid}.content">
	<f:translate key="tx_artifeqhm_domain_model_documentfile.content"/>
</label><br/>
<p><span>Vorlagen-Version</span>
	<input type="text" value="{f:format.stripTags(value:'{documentFile.content}')}" readonly/>
</p>
<p>
	<span>Ihre Version</span>
	<f:form.textarea class="link" property="documentFiles.{documentFile.uid}.content" value="{documentFile.content}"/>
</p>
<f:form.hidden property="notify" value="0" />
<br/>