<label for="name">
	<f:translate key="tx_artifeqhm_domain_model_document.name"/>
</label><br/>
<p>
	<span>Vorlagen-Version</span>
	<f:form.textfield property="changedName" value="{documentCloneOf.name}" additionalAttributes="{readonly: 1}" />
</p>
<p>
	<span>Ihre Version</span>
	<f:form.textfield property="name"/>
</p>
<br/>


<p>Vorlagen-Version</p>
<f:image src="{documentCloneOf.newestVersionOfDocumentFile.file.originalResource.publicUrl}"/>

<p>Ihre Version</p>
<f:image src="{documentFile.file.originalResource.publicUrl}"/>
<f:form.hidden property="notify" value="0" />
<br/>
