<p>Type: Table</p>
<label for="name">
	<f:translate key="tx_artifeqhm_domain_model_document.name"/>
</label><br/>
<p>
	<span>Vorlagen-Version</span>
	<f:form.textfield property="changedName" value="{documentCloneOf.name}" additionalAttributes="{readonly: 1}" />
</p>
<p>
	<span>Ihre Version</span>
	<f:form.textfield property="name"/>
</p>
<br/>


<label for="documentFiles.{documentFile.uid}.content">
	<f:translate key="tx_artifeqhm_domain_model_documentfile.content"/>
</label><br/>
<p>
	<span>Vorlagen-Version</span>
	<f:form.hidden name="documentFileParent" value="{documentCloneOf.newestVersionOfDocumentFile.uid}"/>
	<textarea class="readonly" name="documentFileParent[content]"  value="{documentCloneOf.newestVersionOfDocumentFile.content}" readonly>{documentCloneOf.newestVersionOfDocumentFile.content}</textarea>
</p>
<p>
	<span>Ihre Version</span>
	<f:form.hidden name="documentFileTarget[__identity]" value="{documentFile.uid}"/>
	<f:form.textarea class="editable" name="documentFileTarget[content]" value="{documentFile.content}"/>
</p>
<br/>