<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="position">
	<f:translate key="tx_artifeqhm_domain_model_signature.position" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="position" /><br />
<label for="signatureImage">
	<f:translate key="tx_artifeqhm_domain_model_signature.signature_image" /> <span class="required">(required)</span>
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="signatureName">
	<f:translate key="tx_artifeqhm_domain_model_signature.signature_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="signatureName" /><br />
</html>