<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-artif-eqhm" >
	<tr>
		<td>
			<f:translate key="tx_artifeqhm_domain_model_signature.position" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_artifeqhm_domain_model_signature.signature_image" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_artifeqhm_domain_model_signature.signature_name" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>