<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:eqhm="http://typo3.org/ns/Artif/ArtifEqhm/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="main">

<f:format.html><f:flashMessages /></f:format.html>
<h1>Praxis bearbeiten</h1>

<f:form action="update" enctype="multipart/form-data" object="{practice}" objectName="practice" class="validate">

	<label for="name"><f:translate key="tx_artifeqhm_domain_model_practice.name" />*</label><br />
	<f:form.textfield property="name" required="1"/><br />
	<label for="street"><f:translate key="tx_artifeqhm_domain_model_practice.street" />*</label><br />
	<f:form.textfield property="street" required="1"/><br />
	<label for="number"><f:translate key="tx_artifeqhm_domain_model_practice.number" />*</label><br />
	<f:form.textfield property="number" required="1"/><br />
	<label for="zip"><f:translate key="tx_artifeqhm_domain_model_practice.zip" />*</label><br />
	<f:form.textfield property="zip" required="1"/><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.city" />*</label><br />
	<f:form.textfield property="city" required="1"/><br />
	<label for="country"><f:translate key="tx_artifeqhm_domain_model_practice.country" /></label><br />
	<f:form.textfield property="country"/><br /><br />

	<f:for each="{practice.signatures}" as="oneSignature" iteration="i">

		<div id="signature{oneSignature.uid}" class="signatureModify">
			<f:form.hidden property="signatures.{i.index}.__identity" value="{oneSignature.uid}" />

			<f:switch expression="{i.index}">
				<f:case value="0">
					<f:form.hidden property="signatures.{i.index}.position" value="verantwortlicher Zahnarzt" />
				</f:case>
				<f:case value="1">
					<f:form.hidden property="signatures.{i.index}.position" value="Qualitätsmanagementbeauftragter" />
				</f:case>
				<f:case value="2">
					<f:form.hidden property="signatures.{i.index}.position" value="Hygieneverantwortliche" />
				</f:case>
			</f:switch>

			<label for="signature_name"><f:translate key="tx_artifeqhm_domain_model_signature.{i.index}.signature_name"><f:translate key="tx_artifeqhm_domain_model_signature.signature_name" /></f:translate>*</label><br />
			<f:form.textfield name="practice[signatures][{i.index}][signatureName]" value="{oneSignature.signatureName}" required="1"/><br />

			<label for="representation"><f:translate key="tx_artifeqhm_domain_model_signature.{i.index}.representation"><f:translate key="tx_artifeqhm_domain_model_signature.alternative_responsible" /></f:translate></label><br />
			<f:form.textfield name="practice[signatures][{i.index}][representation]" value="{oneSignature.representation}"/><br />

			<label for="function_option"><f:translate key="tx_artifeqhm_domain_model_signature.{i.index}.function_option"><f:translate key="tx_artifeqhm_domain_model_signature.function_option" /></f:translate></label><br />
			<f:form.textfield name="practice[signatures][{i.index}][functionOption]" value="{oneSignature.functionOption}"/><br />

			<label for="signature_image"><f:translate key="tx_artifeqhm_domain_model_signature.{i.index}.signature_image"><f:translate key="tx_artifeqhm_domain_model_signature.signature_image" /></f:translate></label><br />
			<eqhm:upload property="signatures.{i.index}.signatureImage">
				<f:if condition="{resource}">
					<f:image image="{resource}" alt="" width="100"/><br />
				</f:if>
			</eqhm:upload>
		</div>
		<br/><hr/><br/>
	</f:for>

	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.dental_assistant" /></label><br />
	<f:form.textfield property="dentalAssistant"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.medical_officers" />*</label><br />
	<f:form.textfield property="medicalOfficers" required="1"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.medical_device" />*</label><br />
	<f:form.textfield property="medicalDevice" required="1"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.security_officers" />*</label><br />
	<f:form.textfield property="securityOfficers" required="1"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.laser_protection" />*</label><br />
	<f:form.textfield property="laserProtection" required="1"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.leading_zfa" />*</label><br />
	<f:form.textfield property="leadingZfa" required="1"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.leading_zfa_representative" /></label><br />
	<f:form.textfield property="leadingZfaRepresentative"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.zfas" /></label><br />
	<f:form.textfield property="zfas"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.zfas_representative" /></label><br />
	<f:form.textfield property="zfasRepresentative"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.reception" /></label><br />
	<f:form.textfield property="reception"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.reception_representation" /></label><br />
	<f:form.textfield property="receptionRepresentation"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.accounting" /></label><br />
	<f:form.textfield property="accounting"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.billing_representative" /></label><br />
	<f:form.textfield property="billingRepresentative"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.practice_laboratory" /></label><br />
	<f:form.textfield property="practiceLaboratory"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.practice_laboratory_representative" /></label><br />
	<f:form.textfield property="practiceLaboratoryRepresentative"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.staff" /></label><br />
	<f:form.textfield property="staff"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.personal_representation" /></label><br />
	<f:form.textfield property="personalRepresentation"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.financial_accounting" /></label><br />
	<f:form.textfield property="financialAccounting"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.financial_accounting_representative" /></label><br />
	<f:form.textfield property="financialAccountingRepresentative"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.purchase" /></label><br />
	<f:form.textfield property="purchase"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.shopping_representation" /></label><br />
	<f:form.textfield property="shoppingRepresentation"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.it_organization" /></label><br />
	<f:form.textfield property="itOrganization"/><br /><br />
	<label for="city"><f:translate key="tx_artifeqhm_domain_model_practice.it_organization_representative" /></label><br />
	<f:form.textfield property="itOrganizationRepresentative"/><br /><br />

	<f:form.checkbox property="terms" id="terms" value="1"  additionalAttributes="{required: 1}" />
	<label for="terms">
		<f:link.typolink parameter="{terms.document.originalResource.publicUrl}">
			<f:translate key="tx_artifeqhm_domain_model_practice.terms" />
		</f:link.typolink>
	</label>
	<br /><br />

	<f:form.submit value="Speichern"/>
</f:form>
</f:section>
</html>